<template>
  <div id="sidebar">
    <b-sidebar type="is-light" :open.sync="open" :can-cancel="false">
      <div
        class="columns is-vcentered is-flex"
        style="flex-direction: column; height: 100vh"
      >
        <div class="column" style="width: 100%; padding-top: 24px">
          <b-menu>
            <b-menu-list>
              <b-menu-item
                v-for="item in items" :key="item.title"
                :tag="item.children ? 'a' : 'router-link'"
                :target="item.children ? null : '_self'"
                :to="item.children ? null : item.to"
                :active="setActive(item, 'parent')"
              >
                <template slot="label" slot-scope="props">
                  <div
                    class="flex-container is-flex"
                    style="align-items: center; justify-content: space-between"
                  >
                    <div
                      class="router-name is-flex"
                      style="align-items: center"
                    >
                      <b-icon
                        class="mr-2"
                        :icon="item.icon"
                        size="is-medium"
                      />
                      <p>{{ item.title }}</p>
                    </div>
                    <b-icon
                      v-if="item.children"
                      :icon="props.expanded ? 'angle-down' : 'angle-right'"
                      size="is-medium"
                    />
                  </div>
                </template>

                <!-- If Have Children -->
                <div v-if="item.children">
                  <b-menu-item
                    v-for="child in item.children" :key="child.title"
                    tag="router-link"
                    target="_self"
                    :to="child.to"
                    :active="setActive(child, 'child')"
                  >
                    <template slot="label">
                      <div
                        class="flex-container is-flex"
                        style="align-items: center"
                      >
                        <b-icon class="mr-2" :icon="child.icon" size="is-small" />
                        <div class="sub-router-name">{{ child.title }}</div>
                      </div>
                    </template>
                  </b-menu-item>
                </div>
              </b-menu-item>
            </b-menu-list>
          </b-menu>
        </div>
      </div>
    </b-sidebar>
  </div>
</template>

<script>
import SidebarItems from './SidebarItems';

export default {
  props: {
    isSidebarOpen: Boolean,
  },
  data() {
    return {
      open: false,
      // Sidebar menu
      isTransaction: false,
      items: SidebarItems
    };
  },
  methods: {
    setActive(item, type) {
      if (type == 'parent') {
        return item.children ? null : this.$route.path === item.to;
      } else {
        return this.$route.path === item.to;
      }
    }
  },
  watch: {
    isSidebarOpen: function (val) {
      this.open = val;
    },
  },
};
</script>

<style scoped>
.router-name {
  font-weight: 700;
  font-size: 20px;
  padding-bottom: 3px;
}
</style>
