<template>
  <div class="container" style="padding: 25px 0px">
    <card class="card-stats" style="height:100px">
      <div class="columns">
        <div
          class="column is-5"
          v-if="$slots.header"
        >
        <slot name="header"/>
        </div>
        <div class="column is-7" v-if="$slots.content">
          <div class="numbers">
            <slot name="content"></slot>
          </div>
        </div>
      </div>
      <div slot="footer" class="stats" v-if="$slots.footer">
        <slot name="footer"></slot>
      </div>
    </card>
  </div>
</template>
<script>
import Card from "./CustomCard.vue";
export default {
  name: "stats-card",
  components: {
    Card,
  },
};
</script>
<style>
</style>
