<template>
  <div class="form-supplier" v-if="!isLoading">
    <ValidationObserver v-slot="{ handleSubmit }" class="main-modal">
      <form @submit.prevent="handleSubmit(savePopup)">
        <div class="modal-card">
          <header
            class="modal-card-head has-background-primary"
          >
            <p class="modal-card-title">
              {{ isEdit ? "Edit Supplier" : "Add Supplier" }}
            </p>
          </header>
          <section
            class="modal-card-body is-flex"
            style="flex-direction: column; justify-content: space-between"
          >
            <div class="columns is-multiline">
              <div class="column is-12">
                <ValidationProvider
                  name="Name"
                  rules="required"
                  v-slot="{ errors }"
                >
                  <b-field
                    :type="{ 'is-danger': errors[0] }"
                    :message="errors"
                    class="mb-3"
                  >
                    <template slot="label">
                      Name
                      <span class="text-dangered">*</span>
                    </template>
                    <b-input v-model="form.name" expanded></b-input>
                  </b-field>
                </ValidationProvider>
              </div>

              <div class="column is-12">
                <ValidationProvider
                  v-slot="{ errors }"
                  rules="required|phone"
                  name="Phone Number"
                >
                  <b-field
                    :type="{ 'is-danger': errors[0] }"
                    :message="errors"
                  >
                    <template slot="label">
                      Phone Number
                      <span class="text-dangered">*</span>
                    </template>
                    <b-input
                      v-model="form.phone_number"
                    />
                  </b-field>
                </ValidationProvider>
              </div>

              <div class="column is-12">
                <ValidationProvider
                  v-slot="{ errors }"
                  rules="required"
                  name="City"
                >
                  <b-field
                    :type="{ 'is-danger': errors[0] }"
                    :message="errors"
                  >
                    <template slot="label">
                      City
                      <span class="text-dangered">*</span>
                    </template>
                    <b-select v-model="form.city" placeholder="Select a city" expanded>
                      <option
                        v-for="option in dataCity"
                        :value="option"
                        :key="option">
                        {{ option }}
                      </option>
                    </b-select>
                  </b-field>
                </ValidationProvider>
              </div>

              <div class="column is-12">
                <ValidationProvider
                  v-slot="{ errors }"
                  rules="required"
                  name="Address"
                >
                  <b-field
                    :type="{ 'is-danger': errors[0] }"
                    :message="errors"
                  >
                    <template slot="label">
                      Address
                      <span class="text-dangered">*</span>
                    </template>
                    <b-input v-model="form.address" maxlength="200" type="textarea" expanded></b-input>
                  </b-field>
                </ValidationProvider>
              </div>
            </div>
          </section>
          <footer class="modal-card-foot">
            <b-button label="Close" @click="$emit('close')" />
            <b-button type="is-primary" native-type="submit">Save</b-button>
          </footer>
        </div>
      </form>
    </ValidationObserver>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
  props: ['isEdit', 'id'],
  data() {
    return {
      form: {
        id: '',
        name: '',
        city: '',
        address: '',
        phone_number: ''
      },
      isLoading: false,
      dataCity: ['Jakarta', 'Bandung', 'Surbaya', 'Semarang', 'Bali']
    }
  },
  mounted() {
    if (this.isEdit) {
      this.fetchSupplierById();
    }
  },
  methods: {
    fetchSupplierById() {
      this.isLoading = true;
      var formData = {
        id: this.id
      };

      this.$store.dispatch('getSupplierById', formData)
        .then((response) => { 
          this.form.name = response.data.name;
          this.form.city = response.data.city;
          this.form.phone_number = response.data.phoneNumber;
          this.form.address = response.data.address;
          this.isLoading = false;
        })
        .catch((err) => {
          this.$buefy.toast.open({
            message: err,
            type: 'is-danger'
          });
          this.isLoading = false;
        });
    },
    // Show Pop Up Save
    savePopup() {
      this.$buefy.dialog.confirm({
        title: this.isEdit ? "Save Edit Supplier" : "Save New Supplier",
        message: `Are you sure want to save this supplier?`,
        cancelText: "No",
        confirmText: "Yes",
        type: "is-primary",
        onConfirm: () => this.saveSupplier()
      });
    },
    // For save Supplier to database
    saveSupplier() {
      let formData = {
        id: this.isEdit ? this.id : '', 
        name: this.form.name,
        city: this.form.city,
        address: this.form.address,
        phone_number: this.form.phone_number,
        company_id: this.currentUser.companyId
      }

      let functionName = this.isEdit ? 'saveEditSupplier' : 'saveSupplier';

      this.$store.dispatch(functionName, formData)
        .then(() => { 
          this.$buefy.toast.open({
            message: this.isEdit ? "Success Edit Supplier!" : "Success Save New Supplier!",
            type: 'is-success'
          });
          this.$emit('fetch');
          this.$emit('close');
        })
        .catch((err) => {
          this.$buefy.toast.open({
            message: err,
            type: 'is-danger'
          });
          this.$emit('close');
        });
    }
  },
  computed: {
    ...mapGetters(['currentUser'])
  }
}
</script>

<style scoped>
.modal-card-title {
  color: white;
  font-size: 26px;
  font-weight: 600;
}
</style>