<template>
  <div class="index-history-transaction">
    <div class="card">
      <header class="card-header has-background-primary">
        <p class="card-header-title">History Transaction</p>
      </header>
      <div class="card-content">
        <div class="container-content">
          <div class="header-content level">
            <div class="level-left">
              <div class="level-item">
                <b-input v-model="search" placeholder="Search" icon="search"></b-input>
              </div>
            </div>
            <div class="level-right">
              <div class="level-item">
              </div>
            </div>
          </div>

          <!-- Table of Content History Transaction -->
          <div class="main-content">
            <b-table
              :data="dataTransaction && dataTransaction.data ? dataTransaction.data : []"
              :hoverable="true"
              :loading="isLoading"
              :total="dataTransaction && dataTransaction.total ? dataTransaction.total : 0"
              :current-page.sync="currentPage"
              paginated
              backend-pagination
              :per-page="perPage"
              @page-change="onPageChange"
              default-sort="id"
              sort-icon="arrow-up"
              aria-next-label="Next page"
              aria-previous-label="Previous page"
              aria-page-label="Page"
              aria-current-label="Current page"
            >
              <b-table-column
                field="index"
                label="No"
                width="40"
                numeric
                v-slot="props"
              >
                {{ props.index + 1 }}
              </b-table-column>

              <b-table-column field="number" label="Number" sortable v-slot="props">
                {{ props.row.number }}
              </b-table-column>

              <b-table-column field="customer.name" label="Customer" sortable v-slot="props">
                {{ props.row.customer ? props.row.customer.name : 'Guest' }}
              </b-table-column>

              <b-table-column field="paymentMethod" label="Payment Method" sortable v-slot="props">
                {{ props.row.paymentMethod ? props.row.paymentMethod : '-' }}
              </b-table-column>

              <b-table-column field="status" label="Status" sortable v-slot="props">
                {{ convertStatus(props.row.status) }}
              </b-table-column>

              <b-table-column field="total" label="Total" sortable v-slot="props">
                Rp. {{ parseInt(props.row.total).toLocaleString('id-ID') }}
              </b-table-column>

              <b-table-column field="action" label="Action" width="250" sortable v-slot="props">
                <b-button tag="router-link" type="is-primary" icon-right="eye" :to="{ path: `/transaction/${props.row.number}/detail-payment` }" />
              </b-table-column>

              <!-- If Data Null -->
              <template slot="empty">
                <section class="section">
                  <div class="has-text-grey has-text-centered">
                    <p>Data is Empty!</p>
                  </div>
                </section>
              </template>
            </b-table>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
  name: 'HistoryTransaction',
  data() {
    return {
      id: '',
      dataTransaction: [],
      search: '',

      // For table
      currentPage: 1,
      perPage: 10,
      isLoading: false,
    }
  },
  mounted() {
    this.fetchData();
  },
  methods: {
    fetchData() {
      this.isLoading = true;
      let formData = {
        perPage: this.perPage,
        page: this.currentPage,
        search: this.search,
        type: 'paginate',
        company_id: this.currentUser.companyId
      };

      this.$store.dispatch('fetchIndexTransaction', formData)
        .then((response) => {
          this.isLoading = false;
          this.dataTransaction = response.data;
        })
        .catch((err) => {
          this.$buefy.toast.open({
            message: err,
            type: 'is-danger'
          });
          this.isLoading = false;
        });
    },
    // For get another data while change pagination
    onPageChange(page) {
      this.currentPage = page;
      this.fetchData();
    },
    convertStatus(status) {
      if (status == 'complete') {
        return 'Complete';
      } else if (status == 'canceled') {
        return 'Canceled';
      } else if (status == 'payment') {
        return 'Waiting Payment';
      } else if (status == 'on-going') {
        return 'On Going';
      }
    }
  },
  watch: {
    search: function (val) {
      this.search = val;
      this.fetchData();
    },
    perPage: function (val) {
      this.perPage = val;
      this.fetchData();
    }
  },
  computed: {
    ...mapGetters(['currentUser'])
  }
}
</script>

<style scoped>
.column {
  padding-bottom: 0;
}

.index-history-transaction {
  padding: 60px;
}

.card-header-title {
  color: white;
  font-size: 30px;
  font-weight: 600;
  height: 90px;
}

.container-form {
  justify-content: space-between;
}
</style>
