<template>
  <div class="index-stock-log">
    <div class="card">
      <header class="card-header has-background-primary">
        <p class="card-header-title">Stock Log</p>
      </header>
      <div class="card-content">
        <div class="container-content">
          <div class="header-content level">
            <div class="level-left">
              <div class="level-item">
                <b-autocomplete
                  v-model="ingredient"
                  placeholder="Type to choose ingredient"
                  open-on-focus
                  :data="filteredDataObjIngredient"
                  field="name"
                  @select="option => (selectedIngredient = option)"
                >
                </b-autocomplete>
              </div>
            </div>
            <div class="level-right">
              <div class="level-item">
                <b-button type="is-primary" @click="fetchData" :disabled="!selectedIngredient">Generate Stock Log</b-button>
              </div>
            </div>
          </div>

          <!-- Table of Content Stock Log -->
          <div class="main-content">
            <b-table
              :data="dataStockLog && dataStockLog.data ? dataStockLog.data : []"
              :hoverable="true"
              :loading="isLoading"
              :total="dataStockLog && dataStockLog.total ? dataStockLog.total : 0"
              :current-page.sync="currentPage"
              paginated
              backend-pagination
              :per-page="perPage"
              @page-change="onPageChange"
              default-sort="id"
              sort-icon="arrow-up"
              aria-next-label="Next page"
              aria-previous-label="Previous page"
              aria-page-label="Page"
              aria-current-label="Current page"
            >
              <b-table-column
                field="index"
                label="No"
                width="40"
                numeric
                v-slot="props"
              >
                {{ props.index + 1 }}
              </b-table-column>

              <b-table-column field="ingredient.name" label="Ingredient Name" sortable v-slot="props">
                {{ props.row.ingredient.name }}
              </b-table-column>

              <b-table-column field="type" label="Type" sortable v-slot="props">
                {{ props.row.type == 'in' ? 'In' : 'Out' }}
              </b-table-column>

              <b-table-column field="quantity" label="Quantity" sortable v-slot="props">
                {{ parseInt(props.row.quantity).toLocaleString('id-ID') }} grams
              </b-table-column>

              <b-table-column field="remainingStock" label="Remaining Stock" sortable v-slot="props">
                {{ parseInt(props.row.remainingStock).toLocaleString('id-ID') }} grams
              </b-table-column>

              <!-- If Data Null -->
              <template slot="empty">
                <section class="section">
                  <div class="has-text-grey has-text-centered">
                    <p>Data is Empty!</p>
                  </div>
                </section>
              </template>
            </b-table>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
  name: 'IndexStockLog',
  data() {
    return {
      dataIngredient: [],
      selectedIngredient: null,
      ingredient: '',
      dataStockLog: [],

      // For table
      currentPage: 1,
      perPage: 10,
      isLoading: false,
    }
  },
  mounted() {
    this.fetchDataIngredients();
  },
  methods: {
    fetchDataIngredients() {
      let formData = {
        perPage: this.perPage,
        page: this.currentPage,
        type: "autocomplete",
        company_id: this.currentUser.companyId
      };

      this.$store
        .dispatch("fetchIndexIngredient", formData)
        .then((response) => {
          this.dataIngredient = response.data;
        })
        .catch((err) => {
          this.$buefy.toast.open({
            message: err,
            type: "is-danger",
          });
        });
    },
    fetchData() {
      this.isLoading = true;
      let formData = {
        perPage: this.perPage,
        page: this.currentPage,
        ingredient_id: this.selectedIngredient.id,
        type: 'paginate',
        company_id: this.currentUser.companyId
      };

      this.$store.dispatch('fetchIndexStockLog', formData)
        .then((response) => {
          this.isLoading = false;
          this.dataStockLog = response.data;
        })
        .catch((err) => {
          this.$buefy.toast.open({
            message: err,
            type: 'is-danger'
          });
          this.isLoading = false;
        });
    },
    // For get another data while change pagination
    onPageChange(page) {
      this.currentPage = page;
      this.fetchData();
    },
    convertStatus(status) {
      if (status == 'complete') {
        return 'Complete';
      } else if (status == 'canceled') {
        return 'Canceled';
      } else if (status == 'payment') {
        return 'Waiting Payment';
      } else if (status == 'on-going') {
        return 'On Going';
      }
    }
  },
  watch: {
    search: function (val) {
      this.search = val;
      this.fetchData();
    },
    perPage: function (val) {
      this.perPage = val;
      this.fetchData();
    }
  },
  computed: {
    ...mapGetters(['currentUser']),
    filteredDataObjIngredient() {
      return this.dataIngredient.filter((option) => {
        return (
          option.name
            .toString()
            .toLowerCase()
            .indexOf(this.ingredient.toLowerCase()) >= 0
        );
      });
    },
  }
}
</script>

<style scoped>
.column {
  padding-bottom: 0;
}

.index-stock-log {
  padding: 60px;
}

.card-header-title {
  color: white;
  font-size: 30px;
  font-weight: 600;
  height: 90px;
}

.container-form {
  justify-content: space-between;
}
</style>
