<template>
  <section style="padding: 0px 40px">
    <div class="columns is-multiline">
      <div class="column is-12">
        <div class="columns is-multiline">
          <div class="column is-3">
            <stats-card>
              <div slot="header">
                <b-icon
                  style="color: green"
                  icon="money-bill-wave-alt"
                  size="is-large"
                />
              </div>
              <div slot="content">
                <p class="card-category">
                  Total Revenue in {{ new Date().getFullYear() }}
                </p>
                <h4 class="card-title">Rp. {{ parseInt(totalRevenueCurrentYear).toLocaleString('id-ID') }}</h4>
              </div>
            </stats-card>
          </div>

          <div class="column is-3">
            <stats-card>
              <div slot="header">
                <b-icon
                  style="color: red"
                  icon="money-bill-wave-alt"
                  size="is-large"
                />
              </div>
              <div slot="content">
                <p class="card-category">Total Expense for Purchase Order</p>
                <h4 class="card-title">
                  Rp. {{ parseInt(totalExpensePurchaseOrderCurrentYear).toLocaleString('id-ID') }}
                </h4>
              </div>
            </stats-card>
          </div>

          <div class="column is-3">
            <stats-card>
              <div slot="header">
                <b-icon style="color: brown" icon="mug-hot" size="is-large" />
              </div>
              <div slot="content">
                <p class="card-category">
                  Total Product Sold in {{ new Date().getFullYear() }}
                </p>
                <h4 class="card-title">{{ parseInt(totalProductSold).toLocaleString('id-ID') }}</h4>
              </div>
            </stats-card>
          </div>

          <div class="column is-3">
            <stats-card>
              <div slot="header">
                <b-icon
                  style="color: red"
                  icon="shopping-cart"
                  size="is-large"
                />
              </div>
              <div slot="content">
                <p class="card-category">Total ingredient bought</p>
                <h4 class="card-title">{{ parseInt(totalIngredientBought).toLocaleString('id-ID') }}</h4>
              </div>
            </stats-card>
          </div>
        </div>
      </div>

      <div class="column is-6">
        <line-chart
          :chart-data="dataCollectionPurchaseSummary"
          :styles="styles.purchaseOrderLineChart"
          v-if="!isLoadingPurchaseOrderSummary"
          :options="optionsPurchaseOrderSummaryLineChart"
        ></line-chart>
      </div>

      <div class="column is-6">
        <doughnut-chart
          :chart-data="dataCollectionMostBoughtIngredient"
          :styles="styles.mostBoughIngredientDoughnutChart"
          v-if="!isLoadingMostBoughIngredient"
          :options="optionsMostBoughtIngredientPieChart"
        />
      </div>

      <div class="column is-6">
        <line-chart
          :chart-data="dataCollectionTransactionSummary"
          :styles="styles.transactionSummaryLineChart"
          v-if="!isLoadingTransactionSummary"
          :options="optionsTransactionSummaryLineChart"
        ></line-chart>
      </div>

      <div class="column is-6">
        <bar-chart
          :chart-data="dataCollectionMostSoldProduct"
          :styles="styles.mostSoldProducttDoughnutChart"
          v-if="!isLoadingProductMostSold"
          :options="optionsMostSoldProductBarchart"
        />
      </div>
    </div>
    <b-loading v-model="isLoading" is-full-page />
  </section>
</template>

<script>
import LineChart from "../components/LineChart";
import DoughnutChart from "../components/DoughnutChart";
import StatsCard from "../components/StatsCard";
import BarChart from "../components/Bar";
export default {
  components: {
    LineChart,
    DoughnutChart,
    StatsCard,
    BarChart,
  },
  computed: {},
  data() {
    return {
      isLoading: true,
      currentYear: 2021,
      isLoadingPurchaseOrderSummary: false,
      isLoadingMostBoughIngredient: false,
      isLoadingProductMostSold: false,
      isLoadingTransactionSummary: false,
      isLoadingTotalProductSold: false,
      isLoadingTotalIngredientBought: false,

      totalProductSold: 0,
      totalIngredientBought: 0,
      totalRevenueCurrentYear: 0,
      totalExpensePurchaseOrderCurrentYear: 0,

      // for chart options
      optionsMostBoughtIngredientPieChart: {
        responsive: true,
        maintainAspectRatio: false,
        title: {
          display: true,
          text: `Top 5 most bought ingredietn in ${new Date().getFullYear()}`,
        },
      },

      optionsMostSoldProductBarchart: {
        responsive: true,
        maintainAspectRatio: false,
        title: {
          display: true,
          text: `Top 5 most sold product in ${new Date().getFullYear()}`,
        },
      },

      optionsPurchaseOrderSummaryLineChart: {
        responsive: true,
        maintainAspectRatio: false,
        title: {
          display: true,
          text: `Total Purchase Order per month in ${new Date().getFullYear()}`,
        },
      },

      optionsTransactionSummaryLineChart: {
        responsive: true,
        maintainAspectRatio: false,
        title: {
          display: true,
          text: `Total Transaction per month in ${new Date().getFullYear()}`,
        },
      },

      // data collection for most bought ingredient
      dataCollectionMostBoughtIngredient: {
        labels: [],
        datasets: [
          {
            label: `Purchase per in ${new Date().getFullYear()}`,
            data: [],
            borderColor: "rgb(75, 192, 192)",
            backgroundColor: [
              "rgb(255, 99, 132)",
              "rgb(75, 192, 192)",
              "rgb(255, 205, 86)",
              "rgb(201, 203, 207)",
              "rgb(54, 162, 235)",
            ],
            data: [],
          },
        ],
      },

      // data collection for most bought ingredient
      dataCollectionMostSoldProduct: {
        labels: [],
        datasets: [
          {
            label: `Most Product Sold in ${new Date().getFullYear()}`,
            data: [],
            borderColor: "rgb(75, 192, 192)",
            backgroundColor: [
              "rgb(255, 99, 132)",
              "rgb(75, 192, 192)",
              "rgb(255, 205, 86)",
              "rgb(201, 203, 207)",
              "rgb(54, 162, 235)",
            ],
            data: [],
          },
        ],
      },

      // for purchase order summary line chart
      dataCollectionPurchaseSummary: {
        labels: [],
        datasets: [
          {
            label: `Total Purchase per month in ${new Date().getFullYear()}`,
            borderColor: "rgb(75, 192, 192)",
            data: [],
            backgroundColor: ["rgb(255, 99, 132)"],
          },
        ],
      },

      // for transaction summary line chart
      dataCollectionTransactionSummary: {
        labels: [],
        datasets: [
          {
            label: `Total Sales per month in ${new Date().getFullYear()}`,
            borderColor: "rgb(75, 192, 192)",
            data: [],
            backgroundColor: ["rgb(255, 99, 132)"],
          },
        ],
      },

      styles: {
        purchaseOrderLineChart: {
          height: `300px`,
        },
        mostBoughIngredientDoughnutChart: {
          height: `300px`,
        },
        mostSoldProducttDoughnutChart: {
          height: `300px`,
        },
        transactionSummaryLineChart: {
          height: `300px`,
        },
      },
    };
  },
  methods: {
    convertMonthNumberToMonthName(monthNumber) {
      if (monthNumber == "01") {
        return "Jan";
      }
      if (monthNumber == "02") {
        return "Feb";
      }
      if (monthNumber == "03") {
        return "Mar";
      }
      if (monthNumber == "04") {
        return "Apr";
      }
      if (monthNumber == "05") {
        return "May";
      }

      if (monthNumber == "06") {
        return "Jun";
      }
      if (monthNumber == "07") {
        return "Jul";
      }

      if (monthNumber == "08") {
        return "Aug";
      }
      if (monthNumber == "09") {
        return "Sept";
      }
      if (monthNumber == "10") {
        return "Oct";
      }
      if (monthNumber == "11") {
        return "Nov";
      }
      if (monthNumber == "12") {
        return "Des";
      }
    },
    async loadDataMostBoughtIngredient() {
      this.isLoadingMostBoughIngredient = true;
      let credentials = {
        year: new Date().getFullYear(),
        limit: 5,
      };

      this.$store
        .dispatch("fetchMostBoughtIngredient", credentials)
        .then((response) => {
          response.data.forEach((element) => {
            this.dataCollectionMostBoughtIngredient.datasets[0].data.push(
              element.totalQuantity
            );
            this.dataCollectionMostBoughtIngredient.labels.push(
              element.ingredientName
            );
          });
          this.isLoadingMostBoughIngredient = false;
        })
        .catch((err) => {
          this.$buefy.toast.open({
            message: err,
            type: "is-danger",
          });
          this.isLoadingMostBoughIngredient = false;
        });
    },
    async loadProductMostSold() {
      this.isLoadingProductMostSold = true;
      let credentials = {
        year: new Date().getFullYear(),
        limit: 5,
      };

      this.$store
        .dispatch("fetchProductMostSold", credentials)
        .then((response) => {
          response.data.forEach((element) => {
            this.dataCollectionMostSoldProduct.datasets[0].data.push(
              element.totalQuantity
            );
            this.dataCollectionMostSoldProduct.labels.push(element.name);
          });
          this.isLoadingProductMostSold = false;
        })
        .catch((err) => {
          this.$buefy.toast.open({
            message: err,
            type: "is-danger",
          });
          this.isLoadingProductMostSold = false;
        });
    },
    async loadTotalProductSold() {
      this.isLoadingTotalProductSold = true;
      let credentials = {
        year: new Date().getFullYear(),
      };

      this.$store
        .dispatch("fetchProductTotalSold", credentials)
        .then((response) => {
          this.totalProductSold = response.data[0]
            ? response.data[0].totalSold
            : 0;
          this.isLoadingTotalProductSold = false;
        })
        .catch((err) => {
          this.$buefy.toast.open({
            message: err,
            type: "is-danger",
          });
          this.isLoadingTotalProductSold = false;
        });
    },
    async loadTotalIngredientBought() {
      this.isLoadingTotalIngredientBought = true;
      let credentials = {
        year: new Date().getFullYear(),
      };

      this.$store
        .dispatch("fetchTotalBoughtIngredient", credentials)
        .then((response) => {
          this.totalIngredientBought = response.data[0]
            ? response.data[0].totalQuantity
            : 0;
          this.isLoadingTotalIngredientBought = false;
          this.isLoading = false;
        })
        .catch((err) => {
          this.$buefy.toast.open({
            message: err,
            type: "is-danger",
          });
          this.isLoadingTotalIngredientBought = false;
          this.isLoading = false;
        });
    },
    async loadDataPurchaseOrderSummary() {
      this.isLoadingPurchaseOrderSummary = true;
      let credentials = {
        year: new Date().getFullYear,
      };

      this.$store
        .dispatch("fechPurchaseorderSummary", credentials)
        .then((response) => {
          response.data.forEach((element) => {
            this.totalExpensePurchaseOrderCurrentYear += parseFloat(
              element.totalPurchase
            );
            this.dataCollectionPurchaseSummary.datasets[0].data.push(
              element.totalPurchase
            );
            this.dataCollectionPurchaseSummary.labels.push(
              this.convertMonthNumberToMonthName(element.month)
            );
          });
          this.isLoadingPurchaseOrderSummary = false;
        })
        .catch((err) => {
          this.$buefy.toast.open({
            message: err,
            type: "is-danger",
          });
          this.isLoadingPurchaseOrderSummary = false;
        });
    },
    async loadDataTransactionSummary() {
      this.isLoadingTransactionSummary = true;
      let credentials = {
        year: new Date().getFullYear,
      };

      this.$store
        .dispatch("fetchTransactionSummary", credentials)
        .then((response) => {
          response.data.forEach((element) => {
            this.totalRevenueCurrentYear += parseFloat(element.totalSales);
            this.dataCollectionTransactionSummary.datasets[0].data.push(
              element.totalSales
            );
            this.dataCollectionTransactionSummary.labels.push(
              this.convertMonthNumberToMonthName(element.month)
            );
          });
          this.isLoadingTransactionSummary = false;
        })
        .catch((err) => {
          this.$buefy.toast.open({
            message: err,
            type: "is-danger",
          });
          this.isLoadingTransactionSummary = false;
        });
    },
    getRandomColor() {
      var letters = "0123456789ABCDEF";
      var color = "#";
      for (var i = 0; i < 6; i++) {
        color += letters[Math.floor(Math.random() * 16)];
      }
      return color;
    },
  },

  async mounted() {
    await Promise.all([
      this.loadDataPurchaseOrderSummary(),
      this.loadDataMostBoughtIngredient(),
      this.loadProductMostSold(),
      this.loadDataTransactionSummary(),
      this.loadTotalProductSold(),
      this.loadTotalIngredientBought(),
    ]);
  },
};
</script>

<style>
.small {
  max-width: 600px;
  margin: 150px auto;
}
</style>
