<template>
  <div class="login">
    <div class="background" />
    <section class="section-login">
      <b-image
        src="/images/gojopos_logo_white.png"
        alt="A random image"
        class="is-128x128"
        style="margin: auto"
        rounded
      />
      <div
        class="box is-shadowless mt-5"
        style="border-radius: 10px; border: solid; border-color: transparent"
      >
        <h3 class="title has-text-centered has-text-primary">Sign In</h3>
        <ValidationObserver v-slot="{ handleSubmit }">
          <form @submit.prevent="handleSubmit(login)">
            <ValidationProvider
              v-slot="{ errors }"
              rules="required|email"
              name="Email"
            >
              <b-field
                label="Email"
                :type="{ 'is-danger': errors[0] }"
                :message="errors"
                class="mb-5"
              >
                <b-input
                  v-model="form.email"
                  icon-right="user"
                  placeholder="Email"
                />
              </b-field>
            </ValidationProvider>

            <ValidationProvider
              v-slot="{ errors }"
              rules="required"
              name="Password"
            >
              <b-field
                label="Password"
                :type="{ 'is-danger': errors[0] }"
                :message="errors"
                class="mb-5"
              >
                <b-input
                  v-model="form.password"
                  type="password"
                  placeholder="Password"
                  password-reveal
                />
              </b-field>
            </ValidationProvider>
            <div class="has-text-centered mt-5 buttons">
              <b-button type="is-primary" native-type="submit" expanded>Login</b-button>
              <b-button to="/register" tag="router-link" type="is-link" expanded>Sign Up</b-button>
            </div>
          </form>
        </ValidationObserver>
      </div>
    </section>
  </div>
</template>

<script>
export default {
  data() {
    return {
      form: {
        email: "admin2@gmail.com",
        password: "Admin123!",
      },
    };
  },
  methods: {
    login() {
      var formData = {
        email: this.form.email,
        password: this.form.password,
      };

      this.$store
        .dispatch("login", formData)
        .then(() => {
          this.$buefy.toast.open({
            message: "Login Success",
            type: "is-success",
          });
          this.$router.push({ path: "/" });
        })
        .catch(() => {
          this.$buefy.toast.open({
            message: "Email atau Password Salah",
            type: "is-danger",
          });
        });
    },
  },
};
</script>

<style scoped>
.login {
  min-height: 100vh;
}

.background {
  position: absolute;
  background-image: url("/images/login-background.jpg");
  width: 100%;
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
}

.section-login {
  background-color: transparent;
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
</style>