<template>
  <div class="login">
    <section class="section-login py-6">
      <b-image
        src="/images/gojopos_logo_white.png"
        alt="A random image"
        class="is-128x128"
        style="margin: auto"
        rounded
      />
      <div
        class="box is-shadowless mt-5"
        style="border-radius: 10px; border: solid; border-color: transparent"
      >
        <h3 class="title has-text-primary has-text-centered">Sign Up</h3>
        <ValidationObserver v-slot="{ handleSubmit }">
          <form @submit.prevent="handleSubmit(register)">
            <div class="columns is-multiline">
              <div class="column is-12 is-flex has-background-light" style="align-items: center">
                <b-icon icon="user" size="is-medium"></b-icon>
                <p class="subtitle ml-3"><b>Personal Information</b></p>
              </div>
              <div class="column is-6">
                <ValidationProvider
                  v-slot="{ errors }"
                  rules="required"
                  name="Name"
                >
                  <b-field
                    :type="{ 'is-danger': errors[0] }"
                    :message="errors"
                  >
                    <template slot="label">
                      Name
                      <span class="text-dangered">*</span>
                    </template>
                    <b-input
                      v-model="form.name"
                    />
                  </b-field>
                </ValidationProvider>
              </div>

              <div class="column is-6">
                <ValidationProvider
                  v-slot="{ errors }"
                  rules="required|phone"
                  name="Phone Number"
                >
                  <b-field
                    :type="{ 'is-danger': errors[0] }"
                    :message="errors"
                  >
                    <template slot="label">
                      Phone Number
                      <span class="text-dangered">*</span>
                    </template>
                    <b-input
                      v-model="form.phone_number"
                    />
                  </b-field>
                </ValidationProvider>
              </div>

              <div class="column is-6">
                <ValidationProvider
                  v-slot="{ errors }"
                  rules="required|email"
                  name="Email"
                >
                  <b-field
                    :type="{ 'is-danger': errors[0] }"
                    :message="errors"
                  >
                    <template slot="label">
                      Email
                      <span class="text-dangered">*</span>
                    </template>
                    <b-input
                      v-model="form.email"
                    />
                  </b-field>
                </ValidationProvider>
              </div>

              <div class="column is-6">
                <ValidationProvider
                  v-slot="{ errors }"
                  rules="required"
                  name="Password"
                >
                  <b-field
                    :type="{ 'is-danger': errors[0] }"
                    :message="errors"
                    class="mb-5"
                  >
                    <template slot="label">
                      Password
                      <span class="text-dangered">*</span>
                    </template>
                    <b-input
                      v-model="form.password"
                      type="password"
                      placeholder="Password"
                      password-reveal
                    />
                  </b-field>
                </ValidationProvider>
              </div>

              <!-- Register Company -->
              <div class="column is-12 is-flex has-background-light" style="align-items: center">
                <b-icon icon="building" size="is-medium"></b-icon>
                <p class="subtitle ml-3"><b>Company Information</b></p>
              </div>

              <div class="column is-6">
                <ValidationProvider
                  v-slot="{ errors }"
                  rules="required"
                  name="Company Name"
                >
                  <b-field
                    :type="{ 'is-danger': errors[0] }"
                    :message="errors"
                  >
                    <template slot="label">
                      Company Name
                      <span class="text-dangered">*</span>
                    </template>
                    <b-input
                      v-model="form.company_name"
                    />
                  </b-field>
                </ValidationProvider>
              </div>

              <div class="column is-6">
                <ValidationProvider
                  v-slot="{ errors }"
                  rules="required|phone"
                  name="Company Phone Number"
                >
                  <b-field
                    :type="{ 'is-danger': errors[0] }"
                    :message="errors"
                  >
                    <template slot="label">
                      Company Phone Number
                      <span class="text-dangered">*</span>
                    </template>
                    <b-input
                      v-model="form.company_phone_number"
                    />
                  </b-field>
                </ValidationProvider>
              </div>

              <div class="column is-6">
                <ValidationProvider
                  v-slot="{ errors }"
                  rules="required|email"
                  name="Company Email"
                >
                  <b-field
                    :type="{ 'is-danger': errors[0] }"
                    :message="errors"
                  >
                    <template slot="label">
                      Company Email
                      <span class="text-dangered">*</span>
                    </template>
                    <b-input
                      v-model="form.company_email"
                    />
                  </b-field>
                </ValidationProvider>
              </div>

              <div class="column is-6">
                <ValidationProvider
                  v-slot="{ errors }"
                  rules="required"
                  name="City"
                >
                  <b-field
                    :type="{ 'is-danger': errors[0] }"
                    :message="errors"
                  >
                    <template slot="label">
                      City
                      <span class="text-dangered">*</span>
                    </template>
                    <b-select v-model="form.company_city" placeholder="Select a city" expanded>
                      <option
                        v-for="option in dataCity"
                        :value="option"
                        :key="option">
                        {{ option }}
                      </option>
                    </b-select>
                  </b-field>
                </ValidationProvider>
              </div>

              <div class="column is-12">
                <ValidationProvider
                  v-slot="{ errors }"
                  rules="required"
                  name="City"
                >
                  <b-field
                    :type="{ 'is-danger': errors[0] }"
                    :message="errors"
                  >
                    <template slot="label">
                      Company Address
                      <span class="text-dangered">*</span>
                    </template>
                    <b-input v-model="form.company_address" maxlength="200" type="textarea" expanded></b-input>
                  </b-field>
                </ValidationProvider>
              </div>
            </div>
            
            <div class="has-text-centered mt-3 buttons">
              <b-button type="is-primary" native-type="submit" expanded>Sign Up</b-button>
            </div>
          </form>
        </ValidationObserver>
      </div>
    </section>
  </div>
</template>

<script>
export default {
  data() {
    return {
      form: {
        name: 'Daniel Christianto',
        phone_number: '087823980412',
        email: "daniel@gmail.com",
        password: "Daniel123!",
        company_name: 'Bandar Narkoba',
        company_address: 'Jl. Narkoba Bandar No. 12',
        company_phone_number: '09349359055',
        company_city: 'Bandung',
        company_email: 'bandarnarkoba@gmail.com'
      },
      dataCity: ['Jakarta', 'Bandung', 'Surbaya', 'Semarang', 'Bali']
    };
  },
  methods: {
    register() {
      var formData = {
        name: this.form.name,
        phone_number: this.form.phone_number,
        email: this.form.email,
        password: this.form.password,
        company_name: this.form.company_name,
        company_address: this.form.company_address,
        company_phone_number: this.form.company_phone_number,
        company_city: this.form.company_city,
        company_email: this.form.company_email
      };

      this.$store
        .dispatch("register", formData)
        .then(() => {
          this.$buefy.toast.open({
            message: "Register Success",
            type: "is-success",
          });
          this.$router.push({ path: "/login" });
        })
        .catch((err) => {
          this.$buefy.toast.open({
            message: err,
            type: "is-danger",
          });
        });
    },
  },
};
</script>

<style scoped>
.login {
  min-height: 100vh;
  background-image: url("/images/login-background.jpg");
  background-attachment: fixed;
}

.section-login {
  width: 50%;
  margin: auto;
}
</style>