<template>
  <div class="form-ingredient" v-if="!isLoading">
    <ValidationObserver v-slot="{ handleSubmit }" class="main-modal">
      <form @submit.prevent="handleSubmit(savePopup)">
        <div class="modal-card">
          <header class="modal-card-head has-background-primary">
            <p class="modal-card-title">
              {{ isEdit ? "Edit Ingredient" : "Add Ingredient" }}
            </p>
          </header>
          <section
            class="modal-card-body is-flex"
            style="flex-direction: column; justify-content: space-between"
          >
            <div class="columns is-multiline">
              <div class="column is-12">
                <ValidationProvider
                  name="Name"
                  rules="required"
                  v-slot="{ errors }"
                >
                  <b-field
                    :type="{ 'is-danger': errors[0] }"
                    :message="errors"
                    class="mb-3"
                  >
                    <template slot="label">
                      Name
                      <span class="text-dangered">*</span>
                    </template>
                    <b-input v-model="form.name" expanded></b-input>
                  </b-field>
                </ValidationProvider>
              </div>

              <div class="column is-12">
                <ValidationProvider
                  name="brand"
                  rules="required"
                  v-slot="{ errors }"
                >
                  <b-field
                    :type="{ 'is-danger': errors[0] }"
                    :message="errors"
                    class="mb-3"
                  >
                    <template slot="label">
                      Brand
                      <span class="text-dangered">*</span>
                    </template>
                    <b-select
                      placeholder="Select a brand"
                      v-if="!isLoadingBrandOption"
                      expanded
                      v-model="form.brand_id"
                    >
                      <option
                        v-for="option in brands"
                        :value="option.id"
                        :key="option.id"
                      >
                        {{ option.name }}
                      </option>
                    </b-select>

                    <p v-else>Loading Brand Option...</p>
                  </b-field>
                </ValidationProvider>
              </div>

              <div class="column is-13">
                <ValidationProvider
                  name="Warehouse"
                  rules="required"
                  v-slot="{ errors }"
                >
                  <b-field
                    :type="{ 'is-danger': errors[0] }"
                    :message="errors"
                    class="mb-3"
                  >
                    <template slot="label">
                      Warehouse
                      <span class="text-dangered">*</span>
                    </template>
                    <b-select
                      placeholder="Select a brand"
                      expanded
                      v-model="form.warehouse_id"
                    >
                      <option
                        v-for="option in warehouses"
                        :value="option.id"
                        :key="option.id"
                      >
                        {{ option.name }}
                      </option>
                    </b-select>
                  </b-field>
                </ValidationProvider>
              </div>

              <div class="column is-12">
                <b-field class="mb-3">
                  <template slot="label"> Description </template>
                  <b-input
                    maxlength="250"
                    type="textarea"
                    v-model="form.description"
                    expanded
                  ></b-input>
                </b-field>
              </div>
            </div>
          </section>
          <footer class="modal-card-foot">
            <b-button label="Close" @click="$emit('close')" />
            <b-button type="is-primary" native-type="submit">Save</b-button>
          </footer>
        </div>
      </form>
    </ValidationObserver>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
  props: ["isEdit", "id"],
  data() {
    return {
      brands: [],
      warehouses: [],
      form: {
        id: "",
        name: "",
        description: "",
        brand_id: null,
        warehouse_id: null
      },
      isLoading: false,
      isLoadingBrandOption: false,
    };
  },
  mounted() {
    if (this.isEdit) {
      this.fetchIngredientById();
    }
    this.fetchDataWarehouse();
    // fetch brand
    this.fetchBrandOptions();
  },
  methods: {
    fetchDataWarehouse() {
      this.$store
        .dispatch("fetchIndexWarehouse", {
          type: "all",
          company_id: this.currentUser.companyId
        })
        .then((response) => {
          this.warehouses = response.data;
        })
        .catch((err) => {
          this.$buefy.toast.open({
            message: err,
            type: "is-danger",
          });
        });
    },
    fetchBrandOptions() {
      this.isLoadingBrandOption = true;
      this.$store
        .dispatch("fetchIndexBrand", {
          type: "all",
          company_id: this.currentUser.companyId
        })
        .then((response) => {
          this.brands = response.data;
          this.isLoadingBrandOption = false;
        })
        .catch((err) => {
          this.$buefy.toast.open({
            message: err,
            type: "is-danger",
          });

          this.isLoadingBrandOption = false;
        });
    },
    fetchIngredientById() {
      this.isLoading = true;
      var formData = {
        id: this.id,
      };

      this.$store
        .dispatch("getIngredientById", formData)
        .then((response) => {
          this.form.name = response.data.name;
          this.form.description = response.data.description;
          this.form.brand_id = response.data.brand.id;
          this.form.warehouse_id = response.data.warehouse.id;
          this.isLoading = false;
        })
        .catch((err) => {
          this.$buefy.toast.open({
            message: err,
            type: "is-danger",
          });
          this.isLoading = false;
        });
    },
    // Show Pop Up Save
    savePopup() {
      this.$buefy.dialog.confirm({
        title: this.isEdit ? "Save Edit Ingredient" : "Save New Ingredient",
        message: `Are you sure want to save this ingredient?`,
        cancelText: "No",
        confirmText: "Yes",
        type: "is-primary",
        onConfirm: () => this.saveIngredient(),
      });
    },
    // For save Ingredient to database
    saveIngredient() {
      let formData = {
        id: this.isEdit ? this.id : "",
        name: this.form.name,
        brand_id: this.form.brand_id,
        description: this.form.description,
        warehouse_id: this.form.warehouse_id
      };

      let functionName = this.isEdit ? "saveEditIngredient" : "saveIngredient";

      this.$store
        .dispatch(functionName, formData)
        .then((response) => {
          this.$buefy.toast.open({
            message: this.isEdit
              ? "Success Edit Ingredient!"
              : "Success Save New Ingredient!",
            type: "is-success",
          });
          this.$emit("fetch");
          this.$emit("close");
        })
        .catch((err) => {
          this.$buefy.toast.open({
            message: err,
            type: "is-danger",
          });
          this.$emit("close");
          this.clearForm();
        });
    },
    clearForm() {
      this.form.name = "";
      this.form.description = "";
    },
  },
  computed: {
    ...mapGetters(['currentUser'])
  }
};
</script>

<style scoped>
.modal-card-title {
  color: white;
  font-size: 26px;
  font-weight: 600;
}
</style>
