<template>
  <div class="index-ingredient">
    <div class="card">
      <header class="card-header has-background-primary">
        <p class="card-header-title">Ingredient</p>
      </header>
      <div class="card-content">
        <div class="container-content">
          <div class="header-content level">
            <div class="level-left">
              <div class="level-item">
                <b-input
                  v-model="search"
                  placeholder="Search"
                  icon="search"
                ></b-input>
              </div>
            </div>
            <div class="level-right">
              <div class="level-item">
                <b-button class="btn is-primary" @click="openAddModal()">
                  Add Ingredient
                </b-button>
              </div>
            </div>
          </div>

          <!-- Table of Content Ingredient -->
          <div class="main-content">
            <b-table
              :data="
                dataIngredient && dataIngredient.data ? dataIngredient.data : []
              "
              :hoverable="true"
              :loading="isLoading"
              :total="
                dataIngredient && dataIngredient.total
                  ? dataIngredient.total
                  : 0
              "
              :current-page.sync="currentPage"
              paginated
              backend-pagination
              :per-page="perPage"
              @page-change="onPageChange"
              default-sort="id"
              sort-icon="arrow-up"
              aria-next-label="Next page"
              aria-previous-label="Previous page"
              aria-page-label="Page"
              aria-current-label="Current page"
            >
              <b-table-column
                field="index"
                label="No"
                width="40"
                numeric
                v-slot="props"
              >
                {{ props.index + 1 }}
              </b-table-column>

              <b-table-column
                field="name"
                label="Name"
                width="350"
                sortable
                v-slot="props"
              >
                {{ props.row.name }}
              </b-table-column>

              <b-table-column
                field="warehouse.name"
                label="Warehouse Name"
                width="350"
                sortable
                v-slot="props"
              >
                {{ props.row.warehouse.name }}
              </b-table-column>

              <b-table-column
                field="brand.name"
                label="Brand Name"
                width="350"
                sortable
                v-slot="props"
              >
                {{ props.row.brand.name }}
              </b-table-column>

              <b-table-column
                field="description"
                label="Description"
                width="800"
                sortable
                v-slot="props"
              >
                {{ props.row.description }}
              </b-table-column>

              <b-table-column
                field="brand"
                label="Brand"
                sortable
                v-slot="props"
              >
                {{ props.row.brand.name }}
              </b-table-column>

              <b-table-column
                field="createdAt"
                label="Created Date"
                width="200"
                sortable
                v-slot="props"
              >
                {{ convertDateToStringForOutput(props.row.createdAt) }}
              </b-table-column>

              <b-table-column
                field="action"
                label="Action"
                sortable
                width="200"
                v-slot="props"
              >
                <b-button
                  type="is-warning"
                  icon-right="pencil-alt"
                  @click="editIngredient(props.row.id)"
                />
                <b-button
                  type="is-danger"
                  icon-right="trash"
                  @click="deletePopUp(props.row.id)"
                />
              </b-table-column>

              <!-- If Data Null -->
              <template slot="empty">
                <section class="section">
                  <div class="has-text-grey has-text-centered">
                    <p>Data is Empty!</p>
                  </div>
                </section>
              </template>
            </b-table>
          </div>
        </div>
      </div>
    </div>

    <!-- B-Modal for Ingredient Form -->
    <b-modal
      v-model="isFormIngredientModalActive"
      has-modal-card
      :can-cancel="false"
    >
      <template #default="props">
        <FormIngredient
          :isEdit="isEdit"
          :id="id"
          @fetch="fetchData"
          @close="props.close"
        />
      </template>
    </b-modal>
  </div>
</template>

<script>
import FormIngredient from "./FormIngredient";
import { mapGetters } from 'vuex';

export default {
  name: "Ingredient",
  components: {
    FormIngredient,
  },
  data() {
    return {
      id: "",
      dataIngredient: [],
      search: "",

      // For table
      currentPage: 1,
      perPage: 10,
      isLoading: false,

      // For B-Modal
      isFormIngredientModalActive: false,

      // For Edit
      isEdit: false,
    };
  },
  mounted() {
    this.fetchData();
  },
  methods: {
    fetchData() {
      this.isLoading = true;
      let formData = {
        perPage: this.perPage,
        page: this.currentPage,
        search: this.search,
        type: "paginate",
        company_id: this.currentUser.companyId
      };

      this.$store
        .dispatch("fetchIndexIngredient", formData)
        .then((response) => {
          this.isLoading = false;
          this.dataIngredient = response.data;
        })
        .catch((err) => {
          this.$buefy.toast.open({
            message: err,
            type: "is-danger",
          });
          this.isLoading = false;
        });
    },
    // For get another data while change pagination
    onPageChange(page) {
      this.currentPage = page;
      this.fetchData();
    },
    // For Add Ingredient
    openAddModal() {
      this.isFormIngredientModalActive = true;
      this.isEdit = false;
    },
    // For Edit Ingredient
    editIngredient(ingredientId) {
      this.id = ingredientId;
      this.isFormIngredientModalActive = true;
      this.isEdit = true;
    },
    // Pop Up For Delete Ingredient
    deletePopUp(ingredientId) {
      this.$buefy.dialog.confirm({
        title: "Delete Ingredient",
        message:
          "Are you sure you want to <b>delete</b> this ingredient? This action cannot be undone",
        cancelText: "No",
        confirmText: "Yes",
        type: "is-danger",
        hasIcon: true,
        onConfirm: () => this.deleteIngredient(ingredientId),
      });
    },
    // For Delete Ingredient
    deleteIngredient(ingredientId) {
      var formData = {
        id: ingredientId,
      };

      this.$store
        .dispatch("deleteIngredient", formData)
        .then((response) => {
          this.$buefy.toast.open({
            message: "Success Delete Ingredient!",
            type: "is-success",
          });
          this.fetchData();
        })
        .catch((err) => {
          this.$buefy.toast.open({
            message: err,
            type: "is-danger",
          });
        });
    },
    // For Convert Date Object into Date String for Output
    convertDateToStringForOutput(date) {
      var newDate = new Date(date);
      var convertedDate =
        newDate.getDate() +
        "/" +
        (newDate.getMonth() + 1) +
        "/" +
        newDate.getFullYear();

      return convertedDate;
    },
    // For Clear form
    clearForm() {
      this.form.id = "";
      this.form.name = "";
    },
  },
  watch: {
    search: function (val) {
      this.search = val;
      this.fetchData();
    },
    perPage: function (val) {
      this.perPage = val;
      this.fetchData();
    },
  },
  computed: {
    ...mapGetters(['currentUser'])
  }
};
</script>

<style scoped>
.column {
  padding-bottom: 0;
}

.index-ingredient {
  padding: 60px;
}

.card-header-title {
  color: white;
  font-size: 30px;
  font-weight: 600;
  height: 90px;
}

.container-form {
  justify-content: space-between;
}
</style>

