<template>
  <div class="index-customer">
    <div class="card">
      <header class="card-header has-background-primary">
        <p class="card-header-title">Customer</p>
      </header>
      <div class="card-content">
        <div class="container-content">
          <div class="header-content level">
            <div class="level-left">
              <div class="level-item">
                <b-input
                  v-model="search"
                  placeholder="Search"
                  icon="search"
                ></b-input>
              </div>
            </div>
            <div class="level-right">
              <div class="level-item">
                <b-button class="btn is-primary" @click="openAddModal()">
                  Add Customer
                </b-button>
              </div>
            </div>
          </div>

          <!-- Table of Content Customer -->
          <div class="main-content">
            <b-table
              :data="dataCustomer && dataCustomer.data ? dataCustomer.data : []"
              :hoverable="true"
              :loading="isLoading"
              :total="
                dataCustomer && dataCustomer.total ? dataCustomer.total : 0
              "
              :current-page.sync="currentPage"
              paginated
              backend-pagination
              :per-page="perPage"
              @page-change="onPageChange"
              default-sort="id"
              sort-icon="arrow-up"
              aria-next-label="Next page"
              aria-previous-label="Previous page"
              aria-page-label="Page"
              aria-current-label="Current page"
            >
              <b-table-column
                field="index"
                label="No"
                width="40"
                numeric
                v-slot="props"
              >
                {{ props.index + 1 }}
              </b-table-column>

              <b-table-column
                field="name"
                label="Name"
                width="350"
                sortable
                v-slot="props"
              >
                {{ props.row.name }}
              </b-table-column>

              <b-table-column
                field="phoneNumber"
                label="Phone Number"
                width="350"
                sortable
                v-slot="props"
              >
                {{ props.row.phoneNumber }}
              </b-table-column>

              <b-table-column
                field="point"
                label="Point"
                width="350"
                sortable
                v-slot="props"
              >
                {{ parseInt(props.row.point).toLocaleString('id-ID') }}
              </b-table-column>

              <b-table-column
                field="action"
                label="Action"
                sortable
                width="200"
                v-slot="props"
              >
                <b-button
                  type="is-warning"
                  icon-right="pencil-alt"
                  @click="editCustomer(props.row.id)"
                />
                <b-button
                  type="is-danger"
                  icon-right="trash"
                  @click="deletePopUp(props.row.id)"
                />
              </b-table-column>

              <!-- If Data Null -->
              <template slot="empty">
                <section class="section">
                  <div class="has-text-grey has-text-centered">
                    <p>Data is Empty!</p>
                  </div>
                </section>
              </template>
            </b-table>
          </div>
        </div>
      </div>
    </div>

    <!-- B-Modal for Customer Form -->
    <b-modal
      v-model="isFormCustomerModalActive"
      has-modal-card
      :can-cancel="false"
    >
      <template #default="props">
        <FormCustomer
          :isEdit="isEdit"
          :id="id"
          @fetch="fetchData"
          @close="props.close"
        />
      </template>
    </b-modal>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import FormCustomer from "./FormCustomer";
export default {
  name: "Customer",
  components: {
    FormCustomer,
  },
  data() {
    return {
      id: "",
      dataCustomer: [],
      search: "",

      // For table
      currentPage: 1,
      perPage: 10,
      isLoading: false,

      // For B-Modal
      isFormCustomerModalActive: false,

      // For Edit
      isEdit: false,
    };
  },
  mounted() {
    this.fetchData();
  },
  methods: {
    fetchData() {
      this.isLoading = true;
      let formData = {
        perPage: this.perPage,
        page: this.currentPage,
        search: this.search,
        type: "paginate",
        company_id: this.currentUser.companyId,
      };

      this.$store
        .dispatch("fetchIndexCustomer", formData)
        .then((response) => {
          this.isLoading = false;
          this.dataCustomer = response.data;
        })
        .catch((err) => {
          this.$buefy.toast.open({
            message: err,
            type: "is-danger",
          });
          this.isLoading = false;
        });
    },
    // For get another data while change pagination
    onPageChange(page) {
      this.currentPage = page;
      this.fetchData();
    },
    // For Add Customer
    openAddModal() {
      this.isFormCustomerModalActive = true;
      this.isEdit = false;
    },
    // For Edit Customer
    editCustomer(customerId) {
      this.id = customerId;
      this.isFormCustomerModalActive = true;
      this.isEdit = true;
    },
    // Pop Up For Delete Customer
    deletePopUp(customerId) {
      this.$buefy.dialog.confirm({
        title: "Delete Customer",
        message:
          "Are you sure you want to <b>delete</b> this customer? This action cannot be undone",
        cancelText: "No",
        confirmText: "Yes",
        type: "is-danger",
        hasIcon: true,
        onConfirm: () => this.deleteCustomer(customerId),
      });
    },
    // For Delete Customer
    deleteCustomer(customerId) {
      var formData = {
        id: customerId,
      };

      this.$store
        .dispatch("deleteCustomer", formData)
        .then((response) => {
          this.$buefy.toast.open({
            message: "Success Delete Customer!",
            type: "is-success",
          });
          this.fetchData();
        })
        .catch((err) => {
          this.$buefy.toast.open({
            message: err,
            type: "is-danger",
          });
        });
    },

    editCustomer(customerId) {
      this.id = customerId;
      this.isFormCustomerModalActive = true;
      this.isEdit = true;
    },

    // Pop Up For Delete Customer
    deletePopUp(customerId) {
      this.$buefy.dialog.confirm({
        title: "Delete Customer",
        message:
          "Are you sure you want to <b>delete</b> this customer? This action cannot be undone",
        cancelText: "No",
        confirmText: "Yes",
        type: "is-danger",
        hasIcon: true,
        onConfirm: () => this.deleteCustomer(customerId),
      });
    },
    // For Delete Customer
    deleteCustomer(customerId) {
      var formData = {
        id: customerId,
      };

      this.$store
        .dispatch("deleteCustomer", formData)
        .then((response) => {
          this.$buefy.toast.open({
            message: "Success Delete Customer!",
            type: "is-success",
          });
          this.fetchData();
        })
        .catch((err) => {
          this.$buefy.toast.open({
            message: err,
            type: "is-danger",
          });
        });
    },

    // For Clear form
    clearForm() {
      this.form.id = "";
      this.form.name = "";
    },
  },
  watch: {
    search: function (val) {
      this.search = val;
      this.fetchData();
    },
    perPage: function (val) {
      this.perPage = val;
      this.fetchData();
    },
  },
  computed: {
    ...mapGetters(["currentUser"]),
  },
};
</script>

<style scoped>
.column {
  padding-bottom: 0;
}

.index-customer {
  padding: 60px;
}

.card-header-title {
  color: white;
  font-size: 30px;
  font-weight: 600;
  height: 90px;
}

.container-form {
  justify-content: space-between;
}
</style>


