<template>
  <ValidationObserver
    v-slot="{ handleSubmit }"
    class="main-modal"
  >
    <form v-if="purchaseOrder != null">
      <div
        class="modal-card"
        style="height: 80vh; max-height: 100%; width: 1100px"
      >
        <header
          class="modal-card-head has-background-primary"
          style="border-radius: 1"
        >
          <p class="modal-card-title">
            {{
              isEdit
                ? type == "detail"
                  ? "Detail Purchase Order"
                  : type == 'payment'
                  ? "Confirm Payment"
                  : type == 'on-delivery'
                  ? "Confirm Purchase Order"
                  : "Edit Purchase Order"
                  : "Add Purchase Order"
            }}
          </p>
          <p class="status">
            Status :
            {{
              !isEdit
                ? "New Order"
                : purchaseOrder.status == "new-order"
                ? "Waiting Payment"
                : convertStatusForOutput(purchaseOrder.status)
            }}
          </p>
        </header>

        <section
          class="modal-card-body is-flex"
          style="flex-direction: column; justify-content: space-between"
        >
          <div class="columns is-multiline">
            <div class="column is-3">
              <ValidationProvider
                name="Purchase Order ID"
                rules="required"
                v-slot="{ errors }"
              >
                <b-field
                  :type="{ 'is-danger': errors[1] }"
                  :message="errors"
                  class="mb-2"
                >
                  <template slot="label"> Purchase Order Number </template>
                  <b-input
                    v-model="purchaseOrder.number"
                    expanded
                    disabled
                  ></b-input>
                </b-field>
              </ValidationProvider>
            </div>

            <div class="column is-3">
              <ValidationProvider
                name="Purchase Date"
                rules="required"
                v-slot="{ errors }"
              >
                <b-field
                  :type="{ 'is-danger': errors[1] }"
                  :message="errors"
                  class="mb-2"
                >
                  <template slot="label">
                    Purchase Date
                    <span class="text-dangered">*</span>
                  </template>
                  <b-datepicker
                    v-model="purchaseOrder.date"
                    locale="en-GB"
                    placeholder="Click to select date"
                    icon="calendar-day"
                    trap-focus
                    :disabled="disableForm()"
                  >
                  </b-datepicker>
                </b-field>
              </ValidationProvider>
            </div>
            <div class="column is-3">
              <ValidationProvider
                name="Supplier"
                rules="required"
                v-slot="{ errors }"
              >
                <b-field
                  :type="{ 'is-danger': errors[1] }"
                  :message="errors"
                  class="mb-2"
                >
                  <template slot="label">
                    Supplier
                    <span class="text-dangered">*</span>
                  </template>
                  <b-autocomplete
                    v-model="supplier"
                    placeholder="Type for search supplier"
                    open-on-focus
                    :data="filteredDataObjSupplier"
                    field="name"
                    @select="(option) => selectedSupplier = option"
                    :disabled="disableForm()"
                  >
                  </b-autocomplete>
                </b-field>
              </ValidationProvider>
            </div>

            <div class="column is-3">
              <ValidationProvider
                name="Supplier Address"
                rules="required"
                v-slot="{ errors }"
              >
                <b-field
                  :type="{ 'is-danger': errors[1] }"
                  :message="errors"
                  class="mb-2"
                >
                  <template slot="label"> Supplier Address </template>
                  <b-input
                    :value="selectedSupplier ? selectedSupplier.address : ''"
                    expanded
                    disabled
                  >
                  </b-input>
                </b-field>
              </ValidationProvider>
            </div>

            <div class="column is-3">
              <ValidationProvider
                name="Shipping Date"
                rules="required"
                v-slot="{ errors }"
              >
                <b-field
                  :type="{ 'is-danger': errors[1] }"
                  :message="errors"
                  class="mb-2"
                >
                  <template slot="label">
                    Shipping Date
                    <span class="text-dangered">*</span>
                  </template>
                  <b-datepicker
                    v-model="purchaseOrder.shipping_date"
                    locale="en-GB"
                    placeholder="Click to select date"
                    icon="calendar-day"
                    trap-focus
                    :disabled="disableForm()"
                  >
                  </b-datepicker>
                </b-field>
              </ValidationProvider>
            </div>

            <div class="column is-3">
              <ValidationProvider
                name="Shipping Destination"
                rules="required"
                v-slot="{ errors }"
              >
                <b-field
                  :type="{ 'is-danger': errors[1] }"
                  :message="errors"
                  class="mb-2"
                >
                  <template slot="label">
                    Shipping Destination
                    <span class="text-dangered">*</span>
                  </template>
                  <b-autocomplete
                    v-model="warehouse"
                    placeholder="Type for search warehouse"
                    open-on-focus
                    :data="filteredDataObjWarehouse"
                    field="name"
                    @select="(option) => (selectedWarehouse = option)"
                    :disabled="disableForm()"
                  >
                  </b-autocomplete>
                </b-field>
              </ValidationProvider>
            </div>

            <div class="column is-3">
              <ValidationProvider
                name="Shipping Address"
                rules="required"
                v-slot="{ errors }"
              >
                <b-field
                  :type="{ 'is-danger': errors[1] }"
                  :message="errors"
                  class="mb-2"
                >
                  <template slot="label"> Shipping Address </template>
                  <b-input
                    :value="selectedWarehouse ? selectedWarehouse.address : ''"
                    expanded
                    disabled
                  >
                  </b-input>
                </b-field>
              </ValidationProvider>
            </div>

            <div
              class="column is-3"
              v-if="
                (type == 'detail' && purchaseOrder.received_date != null) ||
                type == 'complete'
              "
            >
              <ValidationProvider
                name="Received Date"
                rules="required"
                v-slot="{ errors }"
              >
                <b-field
                  :type="{ 'is-danger': errors[1] }"
                  :message="errors"
                  class="mb-2 text-dangered"
                >
                  <template slot="label">
                    Received Date
                    <span class="text-dangered">*</span>
                  </template>
                  <b-datepicker
                    v-model="purchaseOrder.received_date"
                    locale="en-GB"
                    placeholder="Click to select date"
                    icon="calendar-day"
                    trap-focus
                    :disabled="disableForm()"
                  >
                  </b-datepicker>
                </b-field>
              </ValidationProvider>
            </div>

            <div class="column is-12">
              <div class="card">
                <header
                  class="card-header has-background-primary is-flex"
                  style="align-items: center"
                >
                  <p class="card-header-title">Item Details</p>
                  <b-button 
                    v-if="type == 'edit' || type == 'add'" 
                    @click="isModalIngredientActive = true"
                  >
                    Add Ingredients
                  </b-button>
                </header>
                <div class="card-content">
                  <div class="container-content">
                    <div class="main-content">
                      <b-table
                        class="pb-4"
                        :data="ingredients"
                        :hoverable="true"
                      >
                        <b-table-column
                          field="index"
                          label="No"
                          width="41"
                          numeric
                          v-slot="props"
                        >
                          {{ props.index + 1 }}
                        </b-table-column>

                        <b-table-column
                          field="name"
                          label="Ingredient Name"
                          sortable
                          v-slot="props"
                        >
                          <div>
                            {{ props.row.name }}
                          </div>
                        </b-table-column>

                        <b-table-column
                          field="quantity"
                          label="Quantity"
                          sortable
                          v-slot="props"
                        >
                          {{ parseInt(ingredients[props.index].quantity).toLocaleString('id-ID') }}
                        </b-table-column>

                        <b-table-column
                          field="price"
                          label="Price"
                          sortable
                          v-slot="props"
                        >
                          {{ parseInt(props.row.price).toLocaleString('id-ID') }}
                        </b-table-column>

                        <b-table-column
                          field="total"
                          label="Total"
                          sortable
                        >
                          <template v-slot="props">
                            {{ parseInt(props.row.price * props.row.quantity).toLocaleString('id-ID') }}
                          </template>
                        </b-table-column>

                        <b-table-column
                          field="action"
                          label="Action"
                          sortable
                          v-slot="props"
                          v-if="
                            type == 'edit' ||
                            type == 'add'
                          "
                        >
                          <div>
                            <b-button
                              type="is-danger"
                              icon-right="trash"
                              @click="deleteItem(props.index)"
                            />
                          </div>
                        </b-table-column>
                      </b-table>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="column is-12">
              <div class="card">
                <header
                  class="card-header has-background-primary is-flex"
                  style="align-items: center"
                >
                  <p class="card-header-title">Order Details</p>
                </header>
                <div class="card-content">
                  <div class="container-content">
                    <div class="main-content columns is-multiline">
                      <div class="column is-5">
                        <p class="order-details">Total</p>
                      </div>

                      <div class="column is-5">
                        <p class="order-details">
                          Rp. {{ parseInt(countTotal).toLocaleString('id-ID') }}
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="level">
            <div class="level-left">
              <div class="level-item" v-if="type == 'edit'">
                <b-button class="ml-2" type="is-primary" @click="cancelPopUp()"
                  >Cancel Purchase Order
                </b-button>
              </div>
            </div>
            <div class="level-right">
              <b-button
                class="level-item"
                type="is-primary"
                @click="handleSubmit(paymentPopup)"
                v-if="
                  type == 'payment'
                "
              >
                Confirm Payment
              </b-button>
              <b-button
                class="level-item"
                type="is-primary"
                @click="handleSubmit(savePopup)"
                v-if="
                  type != 'detail' && type != 'complete' && type != 'payment' && type != 'on-delivery'
                "
              >
                Confirm
              </b-button>
              <b-button
                class="level-item"
                type="is-primary"
                @click="handleSubmit(finishPopUp)"
                v-if="type == 'on-delivery'"
              >
                Finish
              </b-button>
              <b-button
                class="level-item"
                type="is-primary"
                @click="$emit('close')"
                >Cancel
              </b-button>
            </div>
          </div>
        </section>
      </div>
    </form>

    <b-modal
      v-model="isModalIngredientActive"
      has-modal-card
      trap-focus
      :destroy-on-hide="false"
      aria-role="dialog"
      aria-label="Example Modal"
      aria-modal
    >
      <template>
        <div
          class="modal-card"
          style="height: 500px; max-height: 500px; width: 500px"
        >
          <header class="modal-card-head has-background-primary">
            <p class="modal-card-title">Add Ingredient</p>
            <button
              type="button"
              class="delete"
              @click="isModalIngredientActive = false"
            />
          </header>
          <section class="modal-card-body">
            <b-field label="Ingredients">
              <b-autocomplete
                v-model="ingredient"
                placeholder="Type for search Ingredient"
                open-on-focus
                :data="filteredDataObjIngredient"
                field="name"
                @select="(option) => selectedIngredient = option"
              >
              </b-autocomplete>
            </b-field>

            <b-field label="Quantity">
              <b-input
                type="number"
                required
                min="1"
                v-model="selectedIngredienQuantity"
              >
              </b-input>
            </b-field>

            <b-field label="Price each quantity">
              <b-input
                type="number"
                min="1"
                v-model="selectedIngredientPrice"
                expanded
              />
            </b-field>
          </section>
          <footer class="modal-card-foot">
            <b-button label="Close" @click="isModalIngredientActive = false" />
            <b-button label="Add" @click="addNewIngredient" type="is-primary" />
          </footer>
        </div>
      </template>
    </b-modal>

    <b-loading v-model="isLoading" is-full-page />
  </ValidationObserver>
</template>

<script>
import { mapGetters } from "vuex";
import moment from "moment";

export default {
  props: ["isEdit", "id", "type"],
  data() {
    return {
      isModalIngredientActive: false,
      totalPurchase: 0,
      purchaseOrder: {
        id: null,
        number: null,
        supplier_id: null,
        date: undefined,
        shipping_date: undefined,
        received_date: undefined,
        status: null,
        warehouse_id: null,
      },
      // For Auto Complete Supplier
      supplier: "",
      selectedSupplier: null,
      dataSupplier: [],
      // For Auto Complete Shipping / Warehouse
      warehouse: "",
      selectedWarehouse: null,
      dataWarehouse: [],
      // Table for item details
      isLoading: false,
      ingredients: [],

      ingredientsOptions: [],
      ingredient: "",
      selectedIngredient: null,
      selectedIngredienQuantity: null,
      selectedIngredientPrice: null,
      total: 0,
    };
  },
  async created() {
    if (!this.isEdit) {
      this.fetchDataPurchaseOrderNumber();
    } else {
      this.isLoading = true;
      await this.fetchDataPurchaseOrderById(this.id);
      await this.fetchPurchaseOrderIngredients(this.id);
    }
    this.fetchDataSupplier();
    this.fetchDataWarehouses();
    this.fetchDataIngredients();
  },
  methods: {
    addNewIngredient() {
      let newIngredient = {
        id: this.selectedIngredient.id,
        name: this.selectedIngredient.name,
        quantity: this.selectedIngredienQuantity,
        price: this.selectedIngredientPrice,
      };
      this.ingredients.push(newIngredient);
      this.ingredient = '';
      this.selectedIngredient = null;
      this.selectedIngredienQuantity = null;
      this.selectedIngredientPrice = null;
      this.isModalIngredientActive = false;
    },
    fetchPurchaseOrderIngredients(id) {
      this.$store
        .dispatch("fetchPurchaseOrderIngredients", {
          id,
        })
        .then((response) => {
          this.ingredients = response.data.data;
          this.isLoading = false;
        })
        .catch((err) => {
          this.$buefy.toast.open({
            message: err,
            type: "is-danger",
          });
        });
    },
    fetchDataPurchaseOrderById(id) {
      let formData = {
        id,
      };

      this.$store
        .dispatch("fetchPurchaseOrderById", formData)
        .then((response) => {
          this.fillForm(response.data);
        })
        .catch((err) => {
          this.$buefy.toast.open({
            message: err,
            type: "is-danger",
          });
        });
    },
    fetchDataPurchaseOrderNumber() {
      let formData = {
        company_id: this.currentUser.companyId
      };

      this.$store
        .dispatch("fetchPurchaseOrderNumber", formData)
        .then((response) => {
          this.purchaseOrder.number = response.data;
        })
        .catch((err) => {
          this.$buefy.toast.open({
            message: err,
            type: "is-danger",
          });
        });
    },
    fetchDataSupplier() {
      let formData = {
        search: this.supplier,
        type: "autocomplete",
      };

      this.$store
        .dispatch("fetchIndexSupplier", formData)
        .then((response) => {
          this.dataSupplier = response.data;
        })
        .catch((err) => {
          this.$buefy.toast.open({
            message: err,
            type: "is-danger",
          });
        });
    },
    fetchDataWarehouses() {
      let formData = {
        search: this.warehouse,
        type: "autocomplete",
        company_id: 1,
      };

      this.$store
        .dispatch("fetchIndexWarehouse", formData)
        .then((response) => {
          this.dataWarehouse = response.data;
        })
        .catch((err) => {
          this.$buefy.toast.open({
            message: err,
            type: "is-danger",
          });
        });
    },
    fetchDataIngredients() {
      let formData = {
        type: "autocomplete",
        company_id: this.currentUser.companyId,
      };

      this.$store
        .dispatch("fetchIndexIngredient", formData)
        .then((response) => {
          this.ingredientsOptions = response.data;
        })
        .catch((err) => {
          this.$buefy.toast.open({
            message: err,
            type: "is-danger",
          });
        });
    },
    deleteItem(index) {
      this.ingredients.splice(index, 1);
    },
    fillForm(data) {
      this.purchaseOrder.status = data.status;
      this.purchaseOrder.number = data.number;
      this.purchaseOrder.date = new Date(data.date);
      this.purchaseOrder.payment_date = new Date(data.paymentDate);
      this.purchaseOrder.shipping_date = new Date(data.shippingDate);
      this.purchaseOrder.received_date = data.receivedDate
        ? new Date(data.receivedDate)
        : null;
      this.selectedSupplier = data.supplier;
      this.supplier = data.supplier.name;
      this.selectedWarehouse = data.warehouse;
      this.warehouse = data.warehouse.name;
    },
    paymentPopup() {
      this.$buefy.dialog.confirm({
          title: "Confirm Payment",
          message: `Are you sure want to confirm this payment?`,
          cancelText: "No",
          confirmText: "Yes",
          type: "is-primary",
          onConfirm: () => this.updatePayment(),
        });
    },
    updatePayment() {
      var formData = {
        id: this.id,
        status: 'on-delivery'
      };

      this.$store.dispatch('changeStatusPurchaseOrder', formData)
        .then(() => {
          this.$buefy.toast.open({
              message: "Success Payment Purchase Order!",
              type: 'is-success'
          });
          this.$emit('fetch');
          this.$emit('close');
        })
        .catch((err) => {
          this.$buefy.toast.open({
              message: err,
              type: 'is-danger'
          });
          this.$emit('close');
        });
    },
    savePopup() {
      if (this.ingredients.length > 0) {
        this.$buefy.dialog.confirm({
          title: this.isEdit
            ? "Save Edit Purchase Order"
            : "Save New Purchase Order",
          message: `Are you sure want to purchase this ${this.ingredients.length} item?`,
          cancelText: "No",
          confirmText: "Yes",
          type: "is-primary",
          onConfirm: () => this.savePurchaseOrder(),
        });
      } else {
        this.$buefy.dialog.alert({
          title: "List Items still Empty",
          message: `Please fill the item first!`,
          confirmText: "Close",
          type: "is-primary",
        });
      }
    },
    savePurchaseOrder() {
      var formData = {
        id: this.id,
        company_id: this.currentUser.companyId,
        supplier_id: this.selectedSupplier.id,
        number: this.purchaseOrder.number,
        date: this.convertDateToString(this.purchaseOrder.date),
        shipping_date: this.convertDateToString(this.purchaseOrder.shipping_date),
        status: "new-order",
        warehouse_id: this.selectedWarehouse.id,
        total: this.total,
        ingredients: this.ingredients,
      };

      let functionName = this.isEdit ? "saveEditPurchaseOrder" : "savePurchaseOrder";

      this.$store
        .dispatch(functionName, formData)
        .then((response) => {
          this.$buefy.toast.open({
            message: this.isEdit
              ? "Success Save Edit Purchase Order!"
              : "Success Save New Purchase Order!",
            type: "is-success",
          });
          this.$emit("fetch");
          this.$emit("close");
        })
        .catch((err) => {
          this.$buefy.toast.open({
            message: err,
            type: "is-danger",
          });
          this.$emit("close");
        });
    },
    // Finish Purchase Order
    finishPurchaseOrder() {
      var formData = {
        id: this.id,
        status: 'complete',
      };

      this.$store.dispatch('changeStatusPurchaseOrder', formData)
        .then(() => {
          this.$buefy.toast.open({
              message: "Success Finish Purchase Order!",
              type: 'is-success'
          });
          this.$emit('fetch');
          this.$emit('close');
        })
        .catch((err) => {
          this.$buefy.toast.open({
              message: err,
              type: 'is-danger'
          });
          this.$emit('close');
        });
    },
    // Cancel Purchase Order
    cancelPurchaseOrder() {
      var formData = {
        id: this.id,
        status: "canceled",
      };

      this.$store
        .dispatch("changeStatusPurchaseOrder", formData)
        .then(() => {
          this.$buefy.toast.open({
            message: "Success Cancel Purchase Order!",
            type: "is-success",
          });
          this.$emit("fetch");
          this.$emit("close");
        })
        .catch((err) => {
          this.$buefy.toast.open({
            message: err,
            type: "is-danger",
          });
          this.$emit("close");
        });
    },
    cancelPopUp() {
      this.$buefy.dialog.confirm({
        title: "Cancel Purchase Order",
        message:
          "Are you sure you want to <b>cancel</b> this purchase order? This action cannot be undone",
        cancelText: "No",
        confirmText: "Yes",
        type: "is-danger",
        hasIcon: true,
        onConfirm: () => this.cancelPurchaseOrder(),
      });
    },
    finishPopUp() {
      this.$buefy.dialog.confirm({
        title: "Finish Purchase Order",
        message: `Are you sure want to finish this purchase order?`,
        cancelText: "Cancel",
        confirmText: "Finish",
        type: "is-primary",
        onConfirm: () => this.finishPurchaseOrder(),
      });
    },
    // For Convert Dates Object into Date String
    convertDateToString(date) {
      var newDate = new Date(date);
      return moment(newDate).format("YYYY-MM-DD");
    },
    // For Disable Form
    disableForm() {
      if (this.type == 'detail' || this.type == 'complete' || this.type == "payment" || this.type == 'on-delivery') {
          return true;
      } else {
          return false;
      }
    },
    // For Convert Status for output
    convertStatusForOutput(status) {
      if (status == "new-order") {
        return "New Order";
      } else if (status == "on-delivery") {
        return "On Delivery";
      } else if (status == "complete") {
        return "Complete";
      } else if (status == "rejected") {
        return "Rejected";
      } else if (status == "canceled") {
        return "Canceled";
      }
    },
  },
  computed: {
    ...mapGetters(['currentUser']),
    countTotal() {
      this.total = 0;
      this.ingredients.forEach((ing) => (this.total += ing.price * ing.quantity));
      return this.total;
    },
    filteredDataObjSupplier() {
      return this.dataSupplier.filter((option) => {
        return (
          option.name
            .toString()
            .toLowerCase()
            .indexOf(this.supplier.toLowerCase()) >= 0
        );
      });
    },
    filteredDataObjIngredient() {
      return this.ingredientsOptions.filter((option) => {
        return (
          option.name
            .toString()
            .toLowerCase()
            .indexOf(this.ingredient.toLowerCase()) >= 0
        );
      });
    },
    filteredDataObjWarehouse() {
      return this.dataWarehouse.filter((option) => {
        return (
          option.name
            .toString()
            .toLowerCase()
            .indexOf(this.warehouse.toLowerCase()) >= 0
        );
      });
    },
  },
};
</script>

<style scoped>
.modal-card-title,
.card-header-title,
.status {
  color: white;
  font-size: 26px;
  font-weight: 600;
}

.order-details {
  color: darkblue;
  font-size: 20px;
  font-weight: 600;
}
</style>
