<template>
  <div class="purchase-order">
    <div class="card">
      <header class="card-header has-background-primary">
        <p class="card-header-title">Purchase Order</p>
      </header>
      <div class="card-content">
        <div class="container-content">
          <div class="header-content level">
            <div class="level-left">
              <div class="level-item">
                <b-input @input="getAsyncSearch" v-model="search" placeholder="Search" icon="search" />
              </div>
            </div>
            <div class="level-right">
              <div class="level-item">
                <b-button  class="btn is-primary" @click="openAddModal()">
                  Add Purchase Order
                </b-button>
              </div>
            </div>
          </div>

          <!-- Table of Content Purchase Order -->
          <div class="main-content">
            <b-table
              :data="dataPurchaseOrder && dataPurchaseOrder.data ? dataPurchaseOrder.data : []"
              :hoverable="true"
              :loading="isLoading"
              :total="dataPurchaseOrder && dataPurchaseOrder.total ? dataPurchaseOrder.total : 0"
              :current-page.sync="currentPage"
              paginated
              backend-pagination
              :per-page="perPage"
              @page-change="onPageChange"
              default-sort="id"
              sort-icon="arrow-up"
              aria-next-label="Next page"
              aria-previous-label="Previous page"
              aria-page-label="Page"
              aria-current-label="Current page"
            >
              <b-table-column
                field="index"
                label="No"
                width="40"
                numeric
                v-slot="props"
              >
                {{ props.index + 1 }}
              </b-table-column>

              <b-table-column field="number" label="PO ID" sortable v-slot="props">
                {{ props.row.number }}
              </b-table-column>

              <b-table-column field="date" label="PO Date" sortable v-slot="props">
                {{ convertDateToStringForOutput(props.row.date) }}
              </b-table-column>

              <b-table-column field="supplier.name" label="Supplier" sortable v-slot="props">
                {{ props.row.supplier.name }}
              </b-table-column>

              <b-table-column field="supplier.paymentTerms" label="Payment Date" sortable v-slot="props">
                {{ props.row.paymentDate ? convertDateToStringForOutput(props.row.paymentDate) : '-'}}
              </b-table-column>

              <b-table-column field="status" label="Status" sortable v-slot="props">
                {{ convertStatusForOutput(props.row.status) }}
              </b-table-column>

              <b-table-column field="receivedDate" label="Received Date" sortable v-slot="props">
                {{ convertDateToStringForOutput(props.row.receivedDate) }}
              </b-table-column>

              <b-table-column field="action" label="Action" sortable v-slot="props">
                <b-tooltip v-if="props.row.status == 'on-delivery' " label="Accept Delivery" type="is-info">
                  <b-button
                    type="is-info"
                    icon-right="warehouse"
                    @click="editPurchaseOrder(props.row.id, 'on-delivery')"
                  />
                </b-tooltip>
                <b-tooltip v-if="props.row.status == 'new-order' " label="Payment"  type="is-success">
                  <b-button
                    type="is-success"
                    icon-right="money-bill"
                    @click="editPurchaseOrder(props.row.id, 'payment')"
                  />
                </b-tooltip>
                <b-tooltip label="Detail" type="is-primary">
                  <b-button
                    type="is-primary"
                    icon-right="eye"
                    @click="editPurchaseOrder(props.row.id, 'detail')"
                  />
                </b-tooltip>
                <b-tooltip v-if="props.row.status == 'new-order' " label="Edit" type="is-warning">
                  <b-button
                    type="is-warning"
                    icon-right="pencil-alt"
                    @click="editPurchaseOrder(props.row.id, 'edit')"
                  />
                </b-tooltip>
              </b-table-column>

              <!-- If Data Null -->
              <template slot="empty">
                <section class="section">
                  <div class="has-text-grey has-text-centered">
                    <p>Data is Empty!</p>
                  </div>
                </section>
              </template>
            </b-table>
          </div>
        </div>
      </div>
    </div>

    <!-- B-Modal for Purchase Order Form -->
    <b-modal v-model="isFormPurchaseOrderModalActive" has-modal-card :can-cancel="false">
      <template #default="props">
        <FormPurchaseOrder :isEdit="isEdit" :id="id" :type="type" @fetch="fetchData" @close="props.close" />
      </template>
    </b-modal>
  </div>
</template>

<script>
import FormPurchaseOrder from './FormPurchaseOrder';
import { mapGetters } from 'vuex';

export default {
  name: 'PurchaseOrder',
  components: {
    FormPurchaseOrder,
  },
  data() {
    return {
      type: '',
      id: '',
      dataPurchaseOrder: [],
      search: '',

      // For table
      currentPage: 1,
      perPage: 10,
      isLoading: false,

      // For B-Modal
      isFormPurchaseOrderModalActive: false,
      isFormPaymentModalActive: false,

      // For Edit
      isEdit: false,
    }
  },
  mounted() {
    this.fetchData();
  },
  methods: {
    fetchData() {
      this.isLoading = true;
      let formData = {
        perPage: this.perPage,
        page: this.currentPage,
        search: this.search,
        type: 'paginate',
        company_id: this.currentUser.companyId
      };

      this.$store.dispatch('fetchIndexPurchaseOrder', formData)
        .then((response) => {
          this.isLoading = false;
          this.dataPurchaseOrder = response.data;
        })
        .catch((err) => {
          this.$buefy.toast.open({
            message: err,
            type: 'is-danger'
          });
          this.isLoading = false;
        });
    },
    // For get another data while change pagination
    onPageChange(page) {
      this.currentPage = page;
      this.fetchData();
    },
    // For Add Purchase Order
    openAddModal() {
      this.isFormPurchaseOrderModalActive = true;
      this.isEdit = false;
      this.type = 'add';
    },
    // For Edit Purchase Order
    editPurchaseOrder(purchaseOrderId, type) {
      this.id = purchaseOrderId;
      this.isFormPurchaseOrderModalActive = true;
      this.isEdit = true;
      this.type = type;
    },
    // For Async with search
    getAsyncSearch(val) {
      this.search = val;
      this.fetchData();
    },
    // For Convert Status for output
    convertStatusForOutput(status) {
      if (status == 'new-order') {
        return 'New Order';
      } else if (status == 'on-delivery') {
        return 'On Delivery';
      } else if (status == 'complete') {
        return 'Complete';
      } else if (status == 'rejected') {
        return 'Rejected';
      } else if (status == 'canceled') {
        return 'Canceled';
      }
    },
    // For Convert Date Object into Date String for Output
    convertDateToStringForOutput(date) {
      if (date == null) {
        return '-';
      } else {
        var newDate = new Date(date);
        var convertedDate = newDate.getDate() + '/' + (newDate.getMonth() + 1) + "/" + newDate.getFullYear();

        return convertedDate;
      }
    },
  },
  computed: {
    ...mapGetters(['currentUser']),
  },
  watch: {
    perPage: function (val) {
      this.perPage = val;
      this.fetchData();
    }
  }
}
</script>

<style scoped>
.column {
  padding-bottom: 0;
}

.purchase-order {
  padding: 60px;
}

.card-header-title {
  color: white;
  font-size: 30px;
  font-weight: 600;
  height: 90px;
}

.container-form {
  justify-content: space-between;
}
</style>
