<template>
  <div class="form-brand" v-if="!isLoading">
    <ValidationObserver v-slot="{ handleSubmit }" class="main-modal">
      <form @submit.prevent="handleSubmit(savePopup)">
        <div class="modal-card">
          <header
            class="modal-card-head has-background-primary"
          >
            <p class="modal-card-title">
              {{ isEdit ? "Edit Brand" : "Add Brand" }}
            </p>
          </header>
          <section
            class="modal-card-body is-flex"
            style="flex-direction: column; justify-content: space-between"
          >
            <div class="columns is-multiline">
              <div class="column is-12">
                <ValidationProvider
                  name="Name"
                  rules="required"
                  v-slot="{ errors }"
                >
                  <b-field
                    :type="{ 'is-danger': errors[0] }"
                    :message="errors"
                    class="mb-3"
                  >
                    <template slot="label">
                      Name
                      <span class="text-dangered">*</span>
                    </template>
                    <b-input v-model="form.name" expanded></b-input>
                  </b-field>
                </ValidationProvider>
              </div>

              <div class="column is-12">
                <b-field class="mb-3">
                  <template slot="label">
                    Description
                  </template>
                  <b-input maxlength="250" type="textarea" v-model="form.description" expanded></b-input>
                </b-field>
              </div>
            </div>
          </section>
          <footer class="modal-card-foot">
            <b-button label="Close" @click="$emit('close')" />
            <b-button type="is-primary" native-type="submit">Save</b-button>
          </footer>
        </div>
      </form>
    </ValidationObserver>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
  props: ['isEdit', 'id'],
  data() {
    return {
      form: {
        id: '',
        name: '',
        description: ''
      },
      isLoading: false
    }
  },
  mounted() {
    if (this.isEdit) {
      this.fetchBrandById();
    }
  },
  methods: {
    fetchBrandById() {
      this.isLoading = true;
      var formData = {
        id: this.id
      };

      this.$store.dispatch('getBrandById', formData)
        .then((response) => { 
          this.form.name = response.data.name;
          this.form.description = response.data.description;
          this.isLoading = false;
        })
        .catch((err) => {
          this.$buefy.toast.open({
            message: err,
            type: 'is-danger'
          });
          this.isLoading = false;
        });
    },
    // Show Pop Up Save
    savePopup() {
      this.$buefy.dialog.confirm({
        title: this.isEdit ? "Save Edit Brand" : "Save New Brand",
        message: `Are you sure want to save this brand?`,
        cancelText: "No",
        confirmText: "Yes",
        type: "is-primary",
        onConfirm: () => this.saveBrand()
      });
    },
    // For save Brand to database
    saveBrand() {
      let formData = {
        id: this.isEdit ? this.id : '', 
        company_id: this.currentUser.companyId,
        name: this.form.name,
        description: this.form.description
      }

      let functionName = this.isEdit ? 'saveEditBrand' : 'saveBrand';

      this.$store.dispatch(functionName, formData)
        .then(() => { 
          this.$buefy.toast.open({
            message: this.isEdit ? "Success Edit Brand!" : "Success Save New Brand!",
            type: 'is-success'
          });
          this.$emit('fetch');
          this.$emit('close');
        })
        .catch((err) => {
          this.$buefy.toast.open({
            message: err,
            type: 'is-danger'
          });
          this.$emit('close');
          this.clearForm();
        });
    },
    clearForm() {
      this.form.name = '';
      this.form.description = '';
    }
  },
  computed: {
    ...mapGetters(['currentUser'])
  }
}
</script>

<style scoped>
.modal-card-title {
  color: white;
  font-size: 26px;
  font-weight: 600;
}
</style>