<template>
  <div class="index-brand">
    <div class="card">
      <header class="card-header has-background-primary">
        <p class="card-header-title">Brand</p>
      </header>
      <div class="card-content">
        <div class="container-content">
          <div class="header-content level">
            <div class="level-left">
              <div class="level-item">
                <b-input v-model="search" placeholder="Search" icon="search"></b-input>
              </div>
            </div>
            <div class="level-right">
              <div class="level-item">
                <b-button class="btn is-primary" @click="openAddModal()">
                  Add Brand
                </b-button>
              </div>
            </div>
          </div>

          <!-- Table of Content Brand -->
          <div class="main-content">
            <b-table
              :data="dataBrand && dataBrand.data ? dataBrand.data : []"
              :hoverable="true"
              :loading="isLoading"
              :total="dataBrand && dataBrand.total ? dataBrand.total : 0"
              :current-page.sync="currentPage"
              paginated
              backend-pagination
              :per-page="perPage"
              @page-change="onPageChange"
              default-sort="id"
              sort-icon="arrow-up"
              aria-next-label="Next page"
              aria-previous-label="Previous page"
              aria-page-label="Page"
              aria-current-label="Current page"
            >
              <b-table-column
                field="index"
                label="No"
                width="40"
                numeric
                v-slot="props"
              >
                {{ props.index + 1 }}
              </b-table-column>

              <b-table-column field="name" label="Name" width="350" sortable v-slot="props">
                {{ props.row.name }}
              </b-table-column>

              <b-table-column field="description" label="Description" width="700" sortable v-slot="props">
                {{ props.row.description }}
              </b-table-column>

              <b-table-column field="createdAt" label="Created Date" width="200" sortable v-slot="props">
                {{ convertDateToStringForOutput(props.row.createdAt) }}
              </b-table-column>

              <b-table-column field="action" label="Action" width="250" sortable v-slot="props">
                <b-button type="is-warning" icon-right="pencil-alt" @click="editBrand(props.row.id)" />
                <b-button type="is-danger" icon-right="trash" @click="deletePopUp(props.row.id)" />
              </b-table-column>

              <!-- If Data Null -->
              <template slot="empty">
                <section class="section">
                  <div class="has-text-grey has-text-centered">
                    <p>Data is Empty!</p>
                  </div>
                </section>
              </template>
            </b-table>
          </div>
        </div>
      </div>
    </div>

    <!-- B-Modal for Brand Form -->
    <b-modal v-model="isFormBrandModalActive" has-modal-card :can-cancel="false">
      <template #default="props">
        <FormBrand :isEdit="isEdit" :id="id" @fetch="fetchData" @close="props.close"/>
      </template>
    </b-modal>
  </div>
</template>

<script>
import FormBrand from './FormBrand';
import { mapGetters } from 'vuex';

export default {
  name: 'Brand',
  components: {
    FormBrand
  },
  data() {
    return {
      id: '',
      dataBrand: [],
      search: '',

      // For table
      currentPage: 1,
      perPage: 10,
      isLoading: false,

      // For B-Modal
      isFormBrandModalActive: false,

      // For Edit
      isEdit: false
    }
  },
  mounted() {
    this.fetchData();
  },
  methods: {
    fetchData() {
      this.isLoading = true;
      let formData = {
        perPage: this.perPage,
        page: this.currentPage,
        search: this.search,
        type: 'paginate',
        company_id: this.currentUser.companyId
      };

      this.$store.dispatch('fetchIndexBrand', formData)
        .then((response) => {
          this.isLoading = false;
          this.dataBrand = response.data;
        })
        .catch((err) => {
          this.$buefy.toast.open({
            message: err,
            type: 'is-danger'
          });
          this.isLoading = false;
        });
    },
    // For get another data while change pagination
    onPageChange(page) {
      this.currentPage = page;
      this.fetchData();
    },
    // For Add Brand
    openAddModal() {
      this.isFormBrandModalActive = true;
      this.isEdit = false;
    },
    // For Edit Brand
    editBrand(brandId) {
      this.id = brandId;
      this.isFormBrandModalActive = true;
      this.isEdit = true;
    },
    // Pop Up For Delete Brand
    deletePopUp(brandId) {
      this.$buefy.dialog.confirm({
        title: 'Delete Brand',
        message: 'Are you sure you want to <b>delete</b> this brand? This action cannot be undone',
        cancelText: "No",
        confirmText: 'Yes',
        type: 'is-danger',
        hasIcon: true,
        onConfirm: () => this.deleteBrand(brandId)
      });
    },
    // For Delete Brand
    deleteBrand(brandId) {
      var formData = {
        id: brandId
      };

      this.$store.dispatch('deleteBrand', formData)
        .then(response => {
          this.$buefy.toast.open({
            message: "Success Delete Brand!",
            type: 'is-success'
          });
          this.fetchData();
        })
        .catch((err) => {
          this.$buefy.toast.open({
            message: err,
            type: 'is-danger'
          });
        });
    },
    // For Convert Date Object into Date String for Output
    convertDateToStringForOutput(date) {
      var newDate = new Date(date);
      var convertedDate = newDate.getDate() + '/' + (newDate.getMonth() + 1) + "/" + newDate.getFullYear();
      
      return convertedDate;
    },
    // For Clear form
    clearForm() {
      this.form.id = '';
      this.form.name = '';
    }
  },
  watch: {
    search: function (val) {
      this.search = val;
      this.fetchData();
    },
    perPage: function (val) {
      this.perPage = val;
      this.fetchData();
    }
  },
  computed: {
    ...mapGetters(['currentUser'])
  }
}
</script>

<style scoped>
.column {
  padding-bottom: 0;
}

.index-brand {
  padding: 60px;
}

.card-header-title {
  color: white;
  font-size: 30px;
  font-weight: 600;
  height: 90px;
}

.container-form {
  justify-content: space-between;
}
</style>
