<template>
  <div class="form-ingredient" v-if="!isLoading">
    <ValidationObserver v-slot="{ handleSubmit }" class="main-modal">
      <form @submit.prevent="handleSubmit(savePopup)">
        <div class="modal-card">
          <header class="modal-card-head has-background-primary">
            <p class="modal-card-title">
              {{ isEdit ? "Edit Warehouse" : "Add Warehouse" }}
            </p>
          </header>
          <section
            class="modal-card-body is-flex"
            style="flex-direction: column; justify-content: space-between"
          >
            <div class="columns is-multiline">
              <div class="column is-12">
                <ValidationProvider
                  name="Name"
                  rules="required"
                  v-slot="{ errors }"
                >
                  <b-field
                    :type="{ 'is-danger': errors[0] }"
                    :message="errors"
                    class="mb-3"
                  >
                    <template slot="label">
                      Name
                      <span class="text-dangered">*</span>
                    </template>
                    <b-input v-model="form.name" expanded></b-input>
                  </b-field>
                </ValidationProvider>
              </div>

              <div class="column is-12">
                <ValidationProvider
                  name="Phone Number"
                  rules="required|phone"
                  v-slot="{ errors }"
                >
                  <b-field
                    :type="{ 'is-danger': errors[0] }"
                    :message="errors"
                    class="mb-3"
                  >
                    <template slot="label">
                      Phone Number
                      <span class="text-dangered">*</span>
                    </template>
                    <b-input v-model="form.phone_number" expanded></b-input>
                  </b-field>
                </ValidationProvider>
              </div>

              <div class="column is-12">
                <ValidationProvider
                  name="Address"
                  rules="required"
                  v-slot="{ errors }"
                >
                  <b-field
                    :type="{ 'is-danger': errors[0] }"
                    :message="errors"
                    class="mb-3"
                  >
                    <template slot="label">
                      Address
                      <span class="text-dangered">*</span>
                    </template>
                    <b-input
                      maxlength="250"
                      type="textarea"
                      v-model="form.address"
                      expanded
                    ></b-input>
                  </b-field>
                </ValidationProvider>
              </div>
            </div>
          </section>
          <footer class="modal-card-foot">
            <b-button label="Close" @click="$emit('close')" />
            <b-button type="is-primary" native-type="submit">Save</b-button>
          </footer>
        </div>
      </form>
    </ValidationObserver>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
  props: ["isEdit", "id"],
  data() {
    return {
      form: {
        id: "",
        name: "",
        address: "",
        phone_number: ""
      },
      isLoading: false
    };
  },
  mounted() {
    if (this.isEdit) {
      this.fetchWarehouseById();
    }
  },
  methods: {
    fetchWarehouseById() {
      this.isLoading = true;
      var formData = {
        id: this.id,
      };

      this.$store
        .dispatch("getWarehouseById", formData)
        .then((response) => {
          this.form.name = response.data.name;
          this.form.address = response.data.address;
          this.form.phone_number = response.data.phoneNumber;
          this.isLoading = false;
        })
        .catch((err) => {
          this.$buefy.toast.open({
            message: err,
            type: "is-danger",
          });
          this.isLoading = false;
        });
    },
    // Show Pop Up Save
    savePopup() {
      this.$buefy.dialog.confirm({
        title: this.isEdit ? "Save Edit Warehouse" : "Save New Warehouse",
        message: `Are you sure want to save this warehouse?`,
        cancelText: "No",
        confirmText: "Yes",
        type: "is-primary",
        onConfirm: () => this.saveWarehouse(),
      });
    },
    // For save Warehouse to database
    saveWarehouse() {
      let formData = {
        id: this.isEdit ? this.id : "",
        name: this.form.name,
        address: this.form.address,
        phone_number: this.form.phone_number,
        company_id: this.currentUser.companyId
      };

      let functionName = this.isEdit ? "saveEditWarehouse" : "saveWarehouse";

      this.$store
        .dispatch(functionName, formData)
        .then(() => {
          this.$buefy.toast.open({
            message: this.isEdit
              ? "Success Edit Warehouse!"
              : "Success Save New Warehouse!",
            type: "is-success",
          });
          this.$emit("fetch");
          this.$emit("close");
        })
        .catch((err) => {
          this.$buefy.toast.open({
            message: err,
            type: "is-danger",
          });
          this.$emit("close");
        });
    },
  },
  computed: {
    ...mapGetters(['currentUser'])
  }
};
</script>

<style scoped>
.modal-card-title {
  color: white;
  font-size: 26px;
  font-weight: 600;
}
</style>
