<template>
  <div class="form-promotion" v-if="!isLoading">
    <ValidationObserver v-slot="{ handleSubmit }" class="main-modal">
      <form @submit.prevent="handleSubmit(savePopup)">
        <div class="modal-card">
          <header
            class="modal-card-head has-background-primary"
          >
            <p class="modal-card-title">
              {{ isEdit ? "Edit Promotion" : "Add Promotion" }}
            </p>
          </header>
          <section
            class="modal-card-body is-flex"
            style="flex-direction: column; justify-content: space-between"
          >
            <div class="columns is-multiline">
              <div class="column is-12">
                <ValidationProvider
                  name="Title"
                  rules="required"
                  v-slot="{ errors }"
                >
                  <b-field
                    :type="{ 'is-danger': errors[0] }"
                    :message="errors"
                    class="mb-3"
                  >
                    <template slot="label">
                      Title
                      <span class="text-dangered">*</span>
                    </template>
                    <b-input v-model="form.title" expanded></b-input>
                  </b-field>
                </ValidationProvider>
              </div>

              <div class="column is-12">
                <ValidationProvider
                  v-slot="{ errors }"
                  rules="required"
                  name="Total"
                >
                  <b-field
                    :type="{ 'is-danger': errors[0] }"
                    :message="errors"
                  >
                    <template slot="label">
                      Total
                      <span class="text-dangered">*</span>
                    </template>
                    <b-input
                      type="number"
                      v-model="form.total"
                      expanded
                    />
                  </b-field>
                </ValidationProvider>
              </div>

              <div class="column is-12">
                <ValidationProvider
                  v-slot="{ errors }"
                  rules="required"
                  name="Dates"
                >
                  <b-field
                    :type="{ 'is-danger': errors[0] }"
                    :message="errors"
                  >
                    <template slot="label">
                      Dates
                      <span class="text-dangered">*</span>
                    </template>
                    <b-datepicker
                      placeholder="Click to select date"
                      v-model="form.dates"
                      expanded
                      range>
                    </b-datepicker>
                  </b-field>
                </ValidationProvider>
              </div>

              <div class="column is-12">
                <b-field>
                  <template slot="label">
                    Description
                  </template>
                  <b-input v-model="form.description" maxlength="200" type="textarea" expanded></b-input>
                </b-field>
              </div>
            </div>
          </section>
          <footer class="modal-card-foot">
            <b-button label="Close" @click="$emit('close')" />
            <b-button type="is-primary" native-type="submit">Save</b-button>
          </footer>
        </div>
      </form>
    </ValidationObserver>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
  props: ['isEdit', 'id'],
  data() {
    return {
      form: {
        id: '',
        title: '',
        description: '',
        total: '',
        dates: []      
      },
      isLoading: false,
    }
  },
  mounted() {
    if (this.isEdit) {
      this.fetchPromotionById();
    }
  },
  methods: {
    fetchPromotionById() {
      this.isLoading = true;
      var formData = {
        id: this.id
      };

      this.$store.dispatch('getPromotionById', formData)
        .then((response) => { 
          this.form.title = response.data.title;
          this.form.description = response.data.description;
          this.form.total = response.data.total;
          this.form.dates[0] = new Date(response.data.startDate);
          this.form.dates[1] = new Date(response.data.endDate);
          this.isLoading = false;
        })
        .catch((err) => {
          this.$buefy.toast.open({
            message: err,
            type: 'is-danger'
          });
          this.isLoading = false;
        });
    },
    // Show Pop Up Save
    savePopup() {
      this.$buefy.dialog.confirm({
        title: this.isEdit ? "Save Edit Promotion" : "Save New Promotion",
        message: `Are you sure want to save this promotion?`,
        cancelText: "No",
        confirmText: "Yes",
        type: "is-primary",
        onConfirm: () => this.savePromotion()
      });
    },
    // For save Promotion to database
    savePromotion() {
      let formData = {
        id: this.isEdit ? this.id : '', 
        title: this.form.title,
        description: this.form.description,
        total: this.form.total,
        start_date: this.convertDateToString(this.form.dates[0]),
        end_date: this.convertDateToString(this.form.dates[1]),
        company_id: this.currentUser.companyId
      };

      let functionName = this.isEdit ? 'saveEditPromotion' : 'savePromotion';

      this.$store.dispatch(functionName, formData)
        .then(() => { 
          this.$buefy.toast.open({
            message: this.isEdit ? "Success Edit Promotion!" : "Success Save New Promotion!",
            type: 'is-success'
          });
          this.$emit('fetch');
          this.$emit('close');
        })
        .catch((err) => {
          this.$buefy.toast.open({
            message: err,
            type: 'is-danger'
          });
          this.$emit('close');
        });
    },
    // For Convert Date Object into Date String
    convertDateToString(date) {
      var newDate = new Date(date);
      var convertedDate =
        newDate.getFullYear() +
        "-" +
        (newDate.getMonth() + 1) +
        "-" +
        newDate.getDate();

      return convertedDate;
    },
  },
  computed: {
    ...mapGetters(['currentUser'])
  }
}
</script>

<style scoped>
.modal-card-title {
  color: white;
  font-size: 26px;
  font-weight: 600;
}
</style>