<template>
  <div class="index-promotion">
    <div class="card">
      <header class="card-header has-background-primary">
        <p class="card-header-title">Promotion</p>
      </header>
      <div class="card-content">
        <div class="container-content">
          <div class="header-content level">
            <div class="level-left">
              <div class="level-item">
                <b-input v-model="search" placeholder="Search" icon="search"></b-input>
              </div>
            </div>
            <div class="level-right">
              <div class="level-item">
                <b-button class="btn is-primary" @click="openAddModal()">
                  Add Promotion
                </b-button>
              </div>
            </div>
          </div>

          <!-- Table of Content Promotion -->
          <div class="main-content">
            <b-table
              :data="dataPromotion && dataPromotion.data ? dataPromotion.data : []"
              :hoverable="true"
              :loading="isLoading"
              :total="dataPromotion && dataPromotion.total ? dataPromotion.total : 0"
              :current-page.sync="currentPage"
              paginated
              backend-pagination
              :per-page="perPage"
              @page-change="onPageChange"
              default-sort="id"
              sort-icon="arrow-up"
              aria-next-label="Next page"
              aria-previous-label="Previous page"
              aria-page-label="Page"
              aria-current-label="Current page"
            >
              <b-table-column
                field="index"
                label="No"
                width="40"
                numeric
                v-slot="props"
              >
                {{ props.index + 1 }}
              </b-table-column>

              <b-table-column field="title" label="Title" width="350" sortable v-slot="props">
                {{ props.row.title }}
              </b-table-column>

              <b-table-column field="description" label="Description" width="500" sortable v-slot="props">
                {{ props.row.description }}
              </b-table-column>

              <b-table-column field="total" label="Total" width="200" sortable v-slot="props">
                {{ parseInt(props.row.total).toLocaleString('id-ID') }}
              </b-table-column>

              <b-table-column field="startDate" label="Start Date" width="200" sortable v-slot="props">
                {{ convertDateToStringForOutput(props.row.startDate) }}
              </b-table-column>

              <b-table-column field="endDate" label="End Date" width="200" sortable v-slot="props">
                {{ convertDateToStringForOutput(props.row.endDate) }}
              </b-table-column>

              <b-table-column field="action" label="Action" width="250" sortable v-slot="props">
                <b-button type="is-warning" icon-right="pencil-alt" @click="editPromotion(props.row.id)" />
                <b-button type="is-danger" icon-right="trash" @click="deletePopUp(props.row.id)" />
              </b-table-column>

              <!-- If Data Null -->
              <template slot="empty">
                <section class="section">
                  <div class="has-text-grey has-text-centered">
                    <p>Data is Empty!</p>
                  </div>
                </section>
              </template>
            </b-table>
          </div>
        </div>
      </div>
    </div>

    <!-- B-Modal for Promotion Form -->
    <b-modal v-model="isFormPromotionModalActive" has-modal-card :can-cancel="false">
      <template #default="props">
        <FormPromotion :isEdit="isEdit" :id="id" @fetch="fetchData" @close="props.close"/>
      </template>
    </b-modal>
  </div>
</template>

<script>
import FormPromotion from './FormPromotion';
import { mapGetters } from 'vuex';

export default {
  name: 'Promotion',
  components: {
    FormPromotion
  },
  data() {
    return {
      id: '',
      dataPromotion: [],
      search: '',

      // For table
      currentPage: 1,
      perPage: 10,
      isLoading: false,

      // For B-Modal
      isFormPromotionModalActive: false,

      // For Edit
      isEdit: false
    }
  },
  mounted() {
    this.fetchData();
  },
  methods: {
    fetchData() {
      this.isLoading = true;
      let formData = {
        perPage: this.perPage,
        page: this.currentPage,
        search: this.search,
        type: 'paginate',
        company_id: this.currentUser.companyId
      };

      this.$store.dispatch('fetchIndexPromotion', formData)
        .then((response) => {
          this.isLoading = false;
          this.dataPromotion = response.data;
        })
        .catch((err) => {
          this.$buefy.toast.open({
            message: err,
            type: 'is-danger'
          });
          this.isLoading = false;
        });
    },
    // For get another data while change pagination
    onPageChange(page) {
      this.currentPage = page;
      this.fetchData();
    },
    // For Add Promotion
    openAddModal() {
      this.isFormPromotionModalActive = true;
      this.isEdit = false;
    },
    // For Edit Promotion
    editPromotion(promotionId) {
      this.id = promotionId;
      this.isFormPromotionModalActive = true;
      this.isEdit = true;
    },
    // Pop Up For Delete Promotion
    deletePopUp(promotionId) {
      this.$buefy.dialog.confirm({
        title: 'Delete Promotion',
        message: 'Are you sure you want to <b>delete</b> this promotion? This action cannot be undone',
        cancelText: "No",
        confirmText: 'Yes',
        type: 'is-danger',
        hasIcon: true,
        onConfirm: () => this.deletePromotion(promotionId)
      });
    },
    // For Delete Promotion
    deletePromotion(promotionId) {
      var formData = {
        id: promotionId
      };

      this.$store.dispatch('deletePromotion', formData)
        .then(() => {
          this.$buefy.toast.open({
            message: "Success Delete Promotion!",
            type: 'is-success'
          });
          this.fetchData();
        })
        .catch((err) => {
          this.$buefy.toast.open({
            message: err,
            type: 'is-danger'
          });
        });
    },
    // For Convert Date Object into Date String for Output
    convertDateToStringForOutput(date) {
      var newDate = new Date(date);
      var convertedDate = newDate.getDate() + '/' + (newDate.getMonth() + 1) + "/" + newDate.getFullYear();
      
      return convertedDate;
    },
  },
  watch: {
    search: function (val) {
      this.search = val;
      this.fetchData();
    },
    perPage: function (val) {
      this.perPage = val;
      this.fetchData();
    }
  },
  computed: {
    ...mapGetters(['currentUser'])
  }
}
</script>

<style scoped>
.column {
  padding-bottom: 0;
}

.index-promotion {
  padding: 60px;
}

.card-header-title {
  color: white;
  font-size: 30px;
  font-weight: 600;
  height: 90px;
}

.container-form {
  justify-content: space-between;
}
</style>
