// Import Bulma's core
@import "~bulma/sass/utilities/_all";

// Set your colors
$primary: #8c67ef;
$primary-light: findLightColor($primary);
$primary-dark: findDarkColor($primary);
$primary-invert: findColorInvert($primary);
$twitter: #4099FF;
$twitter-invert: findColorInvert($twitter);

// Lists and maps
$custom-colors: null !default;
$custom-shades: null !default;

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: mergeColorMaps(
  (
    "white": (
      $white,
      $black,
    ),
    "black": (
      $black,
      $white,
    ),
    "light": (
      $light,
      $light-invert,
  ),
    "dark": (
      $dark,
      $dark-invert,
    ),
    "primary": (
      $primary,
      $primary-invert,
      $primary-light,
      $primary-dark,
    ),
    "link": (
      $link,
      $link-invert,
      $link-light,
      $link-dark,
    ),
    "info": (
      $info,
      $info-invert,
      $info-light,
      $info-dark,
    ),
    "success": (
      $success,
      $success-invert,
      $success-light,
      $success-dark,
    ),
    "warning": (
      $warning,
      $warning-invert,
      $warning-light,
      $warning-dark,
    ),
    "danger": (
      $danger,
      $danger-invert,
      $danger-light,
      $danger-dark,
    ),
  ),
  $custom-colors
);

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";

// For Toast
.toast {
  flex-basis: auto;
}
// End For Toast

// For Navbar
.navbar {
  padding: 0;
}
// End For Navbar

// Style For Sidebar
.sidebar-content {
  margin-top: 90px;
}

.b-sidebar .menu .menu-list .router-link-exact-active {
  background-color: $primary;
  color: white;
}
.b-sidebar .menu .menu-list a:hover:not(.router-link-exact-active):hover {
  background-color: $primary;
  color: white !important;
}
.b-sidebar .menu-list a.is-active {
  background-color: transparent;
  color: black;
}
.b-sidebar .menu-list li ul {
  margin: 0;
  padding-left: 32px;
  border: none;
}
.b-sidebar .menu-list a {
  text-decoration: none;
}
.modal .animation-content {
  background-color:transparent !important;
}
// End Style For Sidebar

.text-dangered {
  color: red;
}