<template>
  <div class="modal-card">
    <header
      class="modal-card-head has-background-primary"
      style="border-radius: 0"
    >
      <p class="modal-card-title has-text-white">Draft Order</p>
    </header>
    <section
      class="modal-card-body is-flex"
      style="flex-direction: column; justify-content: space-between"
    >
      <div class="columns is-multiline">
        <div class="column is-12">
          <b-table :data="dataTransaction ? dataTransaction : []">
            <b-table-column
              v-slot="props"
              field="no"
              label="No"
              width="40"
              numeric
            >
              {{ props.index + 1 }}
            </b-table-column>

            <b-table-column
              v-slot="props"
              field="number"
              label="Transaction Number"
            >
              {{ props.row.number }}
            </b-table-column>

            <b-table-column
              v-slot="props"
              label="Action"
            >
              <b-button type="is-primary" icon-right="check-square" @click="selectOrder(props.row.id)" />
              <b-button type="is-danger" icon-right="trash" @click="deletePopUp(props.row.id)" />
            </b-table-column>
          </b-table>
        </div>

        <div class="column is-12 is-flex" style="justify-content: flex-end">
          <b-button label="Close" type="is-primary" @click="$emit('close')" />
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  data() {
    return {
      dataTransaction: [],
    }
  },
  created() {
    this.fetchIndexTransactionDraft();
  },
  methods: {
    fetchIndexTransactionDraft() {
      let formData = {
        type: 'all',
        company_id: this.currentUser.companyId,
        status: 'on-going'
      };

      this.$store.dispatch('fetchIndexTransaction', formData)
        .then((response) => {
          this.dataTransaction = response.data;
        })
        .catch((err) => {
          this.$buefy.toast.open({
            message: err,
            type: 'is-danger'
          });
        });
    },
    selectOrder(transactionId) {
      let formData = {
        id: transactionId,
        status: 'selected'
      };

      this.$store.dispatch('selectOrder', formData)
        .then(() => {
          this.$emit('close');
          this.$emit('fetch');
        })
        .catch((err) => {
          this.$buefy.toast.open({
            message: err,
            type: 'is-danger'
          });
        });
    },
    // Pop Up For Delete Draft Order
    deletePopUp(transactionId) {
      this.$buefy.dialog.confirm({
        title: 'Delete Transaction Order',
        message: 'Are you sure you want to <b>delete</b> this transaction? This action cannot be undone',
        cancelText: "No",
        confirmText: 'Yes',
        type: 'is-danger',
        hasIcon: true,
        onConfirm: () => this.deleteTransaction(transactionId)
      });
    },
    // For Delete Draft Order
    deleteTransaction(transactionId) {
      var formData = {
        id: transactionId
      };

      this.$store.dispatch('deleteTransaction', formData)
        .then(() => {
          this.$buefy.toast.open({
            message: "Success Delete Transaction!",
            type: 'is-success'
          });
          this.$emit('close');
          this.$emit('fetch');
        })
        .catch((err) => {
          this.$buefy.toast.open({
            message: err,
            type: 'is-danger'
          });
        });
    },
  },
  computed: {
    ...mapGetters(['currentUser']),
  }
}
</script>