<template>
  <div class="transaction-order-index">
    <div class="columns is-multiline">
      <div class="column is-8">
        <div class="card">
          <!-- Header Filter List Product -->
          <header
            class="card-header has-background-primary"
            style="height: 85px"
          >
            <p
              class="card-header-title is-flex"
              style="justify-content: space-between"
            >
              <span class="has-text-white is-size-3">List Products</span>
              <b-input
                v-model="search"
                placeholder="Search"
                icon="search"
                icon-clickable
                icon-right="times-circle"
                icon-right-clickable
                @keydown.native.enter="resetState"
                @icon-click="resetState"
                @icon-right-click="search = ''"
              />
            </p>
          </header>

          <div
            id="frame-products"
            class="card-content is-flex"
          >
            <!-- List Product -->
            <div class="list-product" style="width: 100%">
              <div class="columns is-multiline">
                <div
                  v-for="product in dataProduct"
                  :key="product.id"
                  class="card column is-3 has-text-centered mb-5"
                  style="cursor: pointer"
                  @click="openAddProductModal(product)"
                >
                  <b-image
                    v-if="!product.image.includes('/images')"
                    :src="'/storage'+product.image"
                    class="imgstyle"
                    alt="A Product image"
                    ratio="4by2"
                  ></b-image>
                  <b-image
                    v-else
                    :src="product.image"
                    class="imgstyle"
                    alt="A Product image"
                    ratio="4by2"
                  ></b-image>
                  <p class="is-size-5">
                    {{ product.name }}
                  </p>
                  <p class="is-size-6">
                    IDR
                    {{ parseInt(product.sellPrice).toLocaleString("id-ID") }}
                  </p>
                  <p class="is-size-6">
                    <span class="mr-2" v-for="sellingTagProduct in product.sellingTagProducts" :key="sellingTagProduct.id">
                      <b-icon
                        icon="tags"
                        size="is-small"
                      />
                      {{ sellingTagProduct.sellingTag.name }}
                    </span>
                  </p>
                </div>
              </div>
              <b-loading
                v-model="isLoading"
                :is-full-page="false"
              />
            </div>
          </div>
        </div>
      </div>

      <div class="column is-4">
        <div class="card">
          <OrderNumber
            :dataSelectedProduct="dataSelectedProduct"
            @cancel-selected-product="cancelSelectedProduct"
          />
        </div>
      </div>
    </div>

    <!-- Modal for Add Product -->
    <b-modal
      v-model="isFormAddProductModalActive"
      has-modal-card
      :can-cancel="false"
    >
      <ValidationObserver
        v-slot="{ handleSubmit }"
        class="main-modal"
      >
        <form @submit.prevent="handleSubmit(addProductToCart)">
          <div class="modal-card">
            <header
              class="modal-card-head has-background-primary"
              style="border-radius: 0"
            >
              <p class="modal-card-title has-text-white">
                Add Product to Cart
              </p>
            </header>
            <section
              class="modal-card-body is-flex"
              style="flex-direction: column; justify-content: space-between"
            >
              <div class="columns is-multiline">
                <div class="column is-3">
                  Product Number
                </div>
                <div class="column is-9">
                  <b-field class="mb-3">
                    <b-input
                      v-model="product.number"
                      expanded
                      disabled
                    />
                  </b-field>
                </div>
              </div>

              <div class="columns is-multiline">
                <div class="column is-3">
                  Product Name
                </div>
                <div class="column is-9">
                  <b-field class="mb-3">
                    <b-input
                      v-model="product.name"
                      expanded
                      disabled
                    />
                  </b-field>
                </div>
              </div>

              <div class="columns is-multiline">
                <div class="column is-3">
                  Quantity
                  <span class="text-dangered">*</span>
                </div>
                <div class="column is-9">
                  <ValidationProvider
                    v-slot="{ errors }"
                    name="Quantity"
                    rules="required"
                  >
                    <b-field
                      :type="{ 'is-danger': errors[0] }"
                      :message="errors"
                      class="mb-3"
                    >
                      <b-input
                        v-model="quantity"
                        type="number"
                        expanded
                      />
                      <p class="control">
                        <span class="button is-static">pcs</span>
                      </p>
                    </b-field>
                  </ValidationProvider>
                </div>
              </div>

              <div
                class="buttons is-flex"
                style="flex-direction: row-reverse"
              >
                <b-button
                  class="ml-3"
                  type="is-primary"
                  @click="isFormAddProductModalActive = false"
                >
                  Cancel
                </b-button>
                <b-button
                  type="is-primary"
                  native-type="submit"
                >
                  Confirm
                </b-button>
              </div>
            </section>
          </div>
        </form>
      </ValidationObserver>
    </b-modal>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import OrderNumber from './OrderNumber';

export default {
  components: {
    OrderNumber,
  },
  data() {
    return {
      // Paginate Products
      search: '',
      disable: false,
      perPage: 12,
      currentPage: 1,
      dataProduct: [],
      dataSelectedProduct: [],
      // For Add Product Modal
      isFormAddProductModalActive: false,
      product: null,
      quantity: null,
      // For Loading
      isLoading: false,
    };
  },
  created() {
    this.fetchDataProducts();
  },
  async mounted() {
    document.getElementById('frame-products').addEventListener('scroll', this.detectScroll);
  },
  methods: {
    fetchDataProducts() {
      this.isLoading = true;
      const formData = {
        perPage: this.perPage,
        page: this.currentPage,
        search: this.search,
        type: 'paginate',
        company_id: this.currentUser.companyId
      };

      this.$store
        .dispatch('fetchIndexProduct', formData)
        .then((response) => {
          if (this.dataProduct.length == 0) {
            this.dataProduct = response.data.data;
          } else {
            this.dataProduct = this.dataProduct.concat(response.data.data);
          }
          if (response.data.total == this.dataProduct.length) {
            this.disable = true;
          }
          this.isLoading = false;
        })
        .catch((err) => {
          this.$buefy.toast.open({
            message: err,
            type: 'is-danger',
          });
          this.isLoading = false;
        });
    },
    // While scroll has been detected
    async detectScroll() {
      if (window.innerHeight + window.scrollY >= document.body.offsetHeight) {
        if (!this.disable) {
          this.currentPage = this.currentPage + 1;
          await this.fetchDataProducts();
        }
      }
    },
    // Reset data while searching
    resetState() {
      this.dataProduct = [];
      this.currentPage = 1;
      this.disable = false;
      this.fetchDataProducts();
    },
    openAddProductModal(product) {
      this.product = product;
      this.isFormAddProductModalActive = true;
    },
    addProductToCart() {
      this.isFormAddProductModalActive = false;
      this.product.quantity = this.quantity;
      this.dataSelectedProduct.push(this.product);
      this.quantity = null;
    },
    cancelSelectedProduct() {
      this.dataSelectedProduct = [];
    },
  },
  computed: {
    ...mapGetters(['currentUser'])
  }
};
</script>

<style scoped>
.transaction-order-index {
  padding: 60px;
}

.product-image {
  width: 128px;
  height: 128px;
  margin: auto;
}

#frame-products {
  max-height: 625px;
  min-height: 625px;
  overflow: auto;
  height: 100%;
}
</style>
