<template>
  <div class="order-number">
    <!-- Header -->
    <header
      class="card-header has-background-primary has-text-white is-size-5 is-flex"
      style="height: 85px; align-items: center; font-weight: 700; justify-content: space-between"
    >
      <p>ORDER : {{ dataTransaction ? dataTransaction[0].number : number }}</p>
      <b-button type="is-secondary" @click="isDraftOrderModalActive = true">Draft Order</b-button>
    </header>
    
    <!-- Content Order Transaction -->
    <div class="card-content p-3" style="width: 100%">
      <b-table :data="dataSelectedProduct ? dataSelectedProduct : []" hoverable >
        <b-table-column
          field="index"
          label="No"
          width="40"
          numeric
          v-slot="props"
        >
          {{ props.index + 1 }}
        </b-table-column>

        <b-table-column field="name" label="Name" width="400" sortable v-slot="props">
          {{ props.row.name }}
        </b-table-column>

        <b-table-column field="quantity" label="Quantity" width="100" v-slot="props">
          {{ props.row.quantity }}
        </b-table-column>

        <b-table-column label="Sub Total" width="220" v-slot="props">
          {{ parseInt(countSubTotalProduct(props.row)).toLocaleString("id-ID") }}
        </b-table-column>

        <b-table-column field="action" label="Action" width="150" sortable v-slot="props">
          <b-button
            type="is-danger"
            icon-right="trash"
            @click="deleteProductFromCart(props.index)"
          />
        </b-table-column>

        <!-- If Data Null -->
        <template slot="empty">
          <section class="section">
            <div class="has-text-grey has-text-centered">
              <p>Data is Empty!</p>
            </div>
          </section>
        </template>
      </b-table>
    </div>

    <!-- Total Cart -->
    <div class="columns is-multiline mt-3">
      <div class="column is-2 has-text-centered is-size-4">
        {{ dataSelectedProduct.length }}
      </div>

      <div class="column is-10 has-text-centered is-size-4">
        Total IDR {{ parseInt(totalTransaction()).toLocaleString("id-ID") }}
      </div>
    </div>

    <div class="action is-flex px-3 pb-3">
      <b-button type="is-primary" expanded @click="confirmPopUp('save')">
        Save
      </b-button>
      <b-button type="is-danger" expanded @click="confirmPopUp('cancel')">
        Cancel
      </b-button>
      <b-button type="is-success" expanded @click="confirmPopUp('confirm')">
        Confirm
      </b-button>
    </div>

    <!-- Modal for Notification Minus Stock Product -->
    <b-modal
      v-model="isMinusStockProductModalActive"
      has-modal-card
      :can-cancel="false"
    >
      <form @submit.prevent="openApprovedModal">
        <div class="modal-card">
          <header
            class="modal-card-head has-background-primary"
            style="border-radius: 0"
          >
            <p class="modal-card-title has-text-white">Attention</p>
          </header>
          <section
            class="modal-card-body is-flex"
            style="flex-direction: column; justify-content: space-between"
          >
            <div class="columns is-multiline">
              <div class="column is-12">
                <p>
                  These Following Item(s) is currently have 0 stocks / less
                  stock than you ordered, if you proceed transaction it may
                  caused to minus stocks on the following item(s)
                </p>
              </div>
              <div class="column is-12">
                <b-table :data="dataMinusStock ? dataMinusStock : []">
                  <b-table-column
                    v-slot="props"
                    field="no"
                    label="No"
                    width="40"
                    numeric
                  >
                    {{ props.index + 1 }}
                  </b-table-column>

                  <b-table-column
                    v-slot="props"
                    field="number"
                    label="Product Barcode"
                  >
                    {{ props.row.number }}
                  </b-table-column>

                  <b-table-column
                    v-slot="props"
                    field="name"
                    label="Product Name"
                  >
                    {{ props.row.name }}
                  </b-table-column>
                </b-table>
              </div>
            </div>

            <div class="buttons is-flex" style="flex-direction: row-reverse">
              <b-button
                class="ml-3"
                type="is-primary"
                @click="isMinusStockProductModalActive = false"
              >
                Cancel
              </b-button>
              <b-button type="is-primary" native-type="submit">
                Confirm
              </b-button>
            </div>
          </section>
        </div>
      </form>
    </b-modal>

    <!-- Modal for Approve Minus Stock Product -->
    <b-modal
      v-model="isApproveMinusStockProductModalActive"
      has-modal-card
      :can-cancel="false"
    >
      <ValidationObserver v-slot="{ handleSubmit }" class="main-modal">
        <form @submit.prevent="handleSubmit(approvePassword)">
          <div class="modal-card">
            <header
              class="modal-card-head has-background-primary"
              style="border-radius: 0"
            >
              <p class="modal-card-title has-text-white">Attention</p>
            </header>
            <section
              class="modal-card-body is-flex"
              style="flex-direction: column; justify-content: space-between"
            >
              <div class="columns is-multiline">
                <div class="column is-12 mb-4">
                  <p>
                    Input Password of On Duty Supervisor / Manager to Proceed
                  </p>
                </div>
                <div class="column is-12">
                  <ValidationProvider
                    v-slot="{ errors }"
                    name="Password"
                    rules="required"
                  >
                    <b-field
                      :type="{ 'is-danger': errors[0] }"
                      :message="errors"
                      horizontal
                      class="mb-3"
                    >
                      <template slot="label">
                        Password
                        <span class="text-dangered">*</span>
                      </template>
                      <b-input
                        v-model="password"
                        type="password"
                        placeholder="Verification Password"
                        password-reveal
                      />
                    </b-field>
                  </ValidationProvider>
                </div>
              </div>

              <div class="buttons is-flex" style="flex-direction: row-reverse">
                <b-button
                  class="ml-3"
                  type="is-primary"
                  @click="isApproveMinusStockProductModalActive = false"
                >
                  Cancel
                </b-button>
                <b-button type="is-primary" native-type="submit">
                  Confirm
                </b-button>
              </div>
            </section>
          </div>
        </form>
      </ValidationObserver>
    </b-modal>

    <!-- Modal For Select Order -->
    <b-modal
      v-model="isDraftOrderModalActive"
      has-modal-card
      :can-cancel="false"
    >
      <template #default="props">
        <DraftOrder @fetch="fetchDataTransaction()" @close="props.close"/>
      </template>
    </b-modal>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import DraftOrder from './DraftOrder';

export default {
  props: ["dataSelectedProduct"],
  components: {
    DraftOrder,
  },
  data() {
    return {
      number: "",
      dataTransaction: null,
      total: 0,
      dataMinusStock: [],
      isMinusStockProductModalActive: false,
      isApproveMinusStockProductModalActive: false,
      password: "",
      isDraftOrderModalActive: false
    };
  },
  async created() {
    await this.fetchDataTransaction();
    if (this.dataTransaction == null) {
      this.fetchDataTransactionNumber();
    }
  },
  methods: {
    async fetchDataTransaction() {
      var formData = {
        type: "all",
        status: "selected",
        company_id: this.currentUser.companyId,
      };

      await this.$store
        .dispatch("fetchIndexTransaction", formData)
        .then((response) => {
          if (response.data.length != 0) {
            this.dataTransaction = response.data;
            this.dataTransaction[0].transactionProducts.forEach(element => {
              element.product.quantity = element.quantity;
              this.dataSelectedProduct.push(element.product);
            });
          }
        })
        .catch((err) => {
          this.$buefy.toast.open({
            message: err,
            type: "is-danger",
          });
        });
    },
    fetchDataTransactionNumber() {
      var formData = {
        company_id: this.currentUser.companyId,
      };

      this.$store
        .dispatch("getTransactionNumber", formData)
        .then((response) => {
          this.number = response.data;
        })
        .catch((err) => {
          this.$buefy.toast.open({
            message: err,
            type: "is-danger",
          });
        });
    },
    confirmPopUp(type) {
      var title = "";
      var message = "";
      if (type == "confirm") {
        title = "Confirm Order";
        message = "Are you sure want to confirm this order?";
      } else if (type == "save") {
        title = "Save Order";
        message = "Are you sure want to save this order to draft?";
      } else {
        title = "Cancel Order";
        message = "Are you sure want to cancel this order?";
      }

      if (this.dataSelectedProduct.length == 0) {
        this.$buefy.dialog.alert({
          title: "Order Item still Empty",
          message: "Please pick the item first!",
          confirmText: "Close",
          type: "is-primary",
        });
      } else {
        this.$buefy.dialog.confirm({
          title: title,
          message: message,
          cancelText: "No",
          confirmText: "Yes",
          type: "is-primary",
          onConfirm: () => {
            if (type == "cancel") {
              this.$emit("cancel-selected-product");
            } else if (type == "confirm") {
              this.checkStockProduct();
            } else {
              this.saveTransaction("on-going");
            }
          },
        });
      }
    },
    async checkStockProduct() {
      this.dataMinusStock = [];
      var formData = {
        products: this.dataSelectedProduct
      };

      this.$store
        .dispatch("checkStockProduct", formData)
        .then((response) => {
          this.dataMinusStock = response.data;
          if (this.dataMinusStock.length > 0) {
            this.isMinusStockProductModalActive = true;
          } else {
            this.saveTransaction("payment");
          }
        })
        .catch((err) => {
          this.$buefy.toast.open({
            message: err,
            type: "is-danger",
          });
        }); 
    },
    openApprovedModal() {
      this.isMinusStockProductModalActive = false;
      this.isApproveMinusStockProductModalActive = true;
      this.password = "";
    },
    approvePassword() {
      var formData = {
        password: this.password,
      };

      this.$store
        .dispatch("approveMinusStockProduct", formData)
        .then((response) => {
          if (response.data) {
            this.isApproveMinusStockProductModalActive = false;
            this.saveTransaction("payment");
          } else {
            this.$buefy.toast.open({
              message: "Password isn't Valid!",
              type: "is-danger",
            });
          }
        })
        .catch((err) => {
          this.$buefy.toast.open({
            message: err,
            type: "is-danger",
          });
        });
    },
    saveTransaction(status) {
      var formData = {
        id: this.dataTransaction ? this.dataTransaction[0].id : null,
        company_id: this.currentUser.companyId,
        number: this.dataTransaction ? this.dataTransaction[0].number : this.number,
        total: this.totalTransaction(),
        status: status,
        products: this.dataSelectedProduct,
      };

      var functionName = this.dataTransaction
        ? "saveEditTransaction"
        : "saveTransaction";

      this.$store
        .dispatch(functionName, formData)
        .then((response) => {
          this.$buefy.toast.open({
            message: "Success Save Transaction!",
            type: "is-success",
          });
          if (status == "payment") {
            const transactionNumber = response.data.number;
            this.$router.push("/transaction/" + transactionNumber + "/payment");
          } else {
            location.reload();
          }
        })
        .catch((err) => {
          this.$buefy.toast.open({
            message: err,
            type: "is-danger",
          });
        });
    },
    deleteProductFromCart(index) {
      this.dataSelectedProduct.splice(index, 1);
    },
    countSubTotalProduct(product) {
      return product.quantity * product.sellPrice;
    },
    totalTransaction() {
      if (this.dataSelectedProduct.length > 0) {
        var total = 0;
        this.dataSelectedProduct.forEach((product) => {
          total += this.countSubTotalProduct(product);
        });
        return total;
      } else {
        return 0;
      }
    },
  },
  computed: {
    ...mapGetters(["currentUser"]),
  },
};
</script>

.<style scoped>
.column {
  padding-top: 0;
  padding-bottom: 0;
}
</style>
