
<template>
  <div class="form-inOutStock" v-if="!isLoading">
    <ValidationObserver v-slot="{ handleSubmit }" class="main-modal">
      <form @submit.prevent="handleSubmit(savePopup)">
        <div class="modal-card">
          <header class="modal-card-head has-background-primary">
            <p class="modal-card-title">
              {{ isEdit ? "Edit InOutStock" : "Add InOutStock" }}
            </p>
          </header>
          <section
            class="modal-card-body is-flex"
            style="flex-direction: column; justify-content: space-between"
          >
            <div class="columns is-multiline">
              <div class="column is-12">
                <b-field class="mb-3">
                  <template slot="label">
                    Number
                    <span class="text-dangered">*</span>
                  </template>
                  <b-input v-model="form.number" expanded disabled></b-input>
                </b-field>
              </div>

              <div class="column is-12">
                <ValidationProvider
                  name="Type"
                  rules="required"
                  v-slot="{ errors }"
                >
                  <b-field
                    :type="{ 'is-danger': errors[0] }"
                    :message="errors"
                    class="mb-3"
                  >
                    <template slot="label">
                      Type
                      <span class="text-dangered">*</span>
                    </template>
                    <b-select v-model="form.type" expanded>
                      <option value="In">In</option>
                      <option value="Out">Out</option>
                    </b-select>
                  </b-field>
                </ValidationProvider>
              </div>

              <div class="column is-12">
                <b-field>
                  <template slot="label"> Notes </template>
                  <b-input
                    v-model="form.notes"
                    maxlength="200"
                    type="textarea"
                    expanded
                  ></b-input>
                </b-field>
              </div>

              <!-- Ingredient -->
              <div
                class="column is-12 is-flex has-background-light"
                style="align-items: center"
              >
                <b-icon icon="seedling" size="is-medium"></b-icon>
                <p class="subtitle ml-3"><b>Ingredient Details</b></p>
              </div>

              <!-- Table of Content Ingredient Details -->
              <div class="column is-12">
                <b-table
                  class="pb-5"
                  :data="ingredients.concat(emptyArray)"
                  :hoverable="true"
                >
                  <b-table-column
                    field="index"
                    label="No"
                    width="40"
                    numeric
                    v-slot="props"
                  >
                    {{ props.index + 1 }}
                  </b-table-column>

                  <b-table-column
                    field="number"
                    label="Ingredient"
                    width="250"
                    sortable
                  >
                    <template v-slot:header="{ column }">
                      <p :label="column.label" append-to-body dashed>
                        {{ column.label }}
                        <span class="has-text-danger">*</span>
                      </p>
                    </template>
                    <template v-slot="props">
                      <div v-if="props.index < ingredients.length">
                        {{ props.row.name }}
                      </div>
                      <b-autocomplete
                        v-else
                        v-model="name"
                        placeholder="Type for search"
                        :data="filteredDataObjIngredient"
                        field="name"
                        @select="(option) => selectIngredient(option)"
                        expanded
                        open-on-focus
                      >
                      </b-autocomplete>
                    </template>
                  </b-table-column>

                  <b-table-column
                    field="quantity"
                    label="Quantity"
                    width="200"
                    sortable
                  >
                    <template v-slot:header="{ column }">
                      <p :label="column.label" append-to-body dashed>
                        {{ column.label }}
                        <span class="has-text-danger">*</span>
                      </p>
                    </template>
                    <template v-slot="props">
                      <div v-if="props.index < ingredients.length">
                        {{
                          parseInt(props.row.quantity).toLocaleString("id-ID")
                        }}
                        grams
                      </div>
                      <b-field v-else>
                        <b-input
                          type="number"
                          min="0"
                          v-model="formIngredient.quantity"
                          expanded
                        >
                        </b-input>
                        <p class="control">
                          <span class="button is-static">gram</span>
                        </p>
                      </b-field>
                    </template>
                  </b-table-column>

                  <b-table-column
                    field="action"
                    label="Action"
                    sortable
                    v-slot="props"
                  >
                    <div v-if="props.index < ingredients.length">
                      <b-button
                        type="is-danger"
                        icon-right="trash"
                        @click="deleteItem(props.index)"
                      />
                    </div>
                    <b-button
                      v-else
                      type="is-primary"
                      icon-right="check-square"
                      @click="addItem()"
                    />
                  </b-table-column>
                </b-table>
              </div>
            </div>
          </section>
          <footer class="modal-card-foot">
            <b-button label="Close" @click="$emit('close')" />
            <b-button type="is-primary" native-type="submit">Save</b-button>
          </footer>
        </div>
      </form>
    </ValidationObserver>
  </div>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  props: ["isEdit", "id"],
  data() {
    return {
      form: {
        id: "",
        type: "",
        number: "",
        notes: "",
      },
      isLoading: false,

      // For Ingredeint
      formIngredient: {
        id: "",
        name: "",
        quantity: null,
      },
      emptyArray: [{}],
      dataIngredient: [],
      ingredients: [],
      name: "",
    };
  },
  mounted() {
    if (this.isEdit) {
      this.fetchInOutStockById();
    } else {
      this.fetchInOutStockNumber();
    }
    this.fetchIndexIngredient();
  },
  methods: {
    fetchIndexIngredient() {
      let formData = {
        perPage: this.perPage,
        page: this.currentPage,
        search: this.search,
        type: "all",
        company_id: this.currentUser.companyId,
      };

      this.$store
        .dispatch("fetchIndexIngredient", formData)
        .then((response) => {
          this.dataIngredient = response.data;
        })
        .catch((err) => {
          this.$buefy.toast.open({
            message: err,
            type: "is-danger",
          });
        });
    },

    fetchInOutStockNumber() {
      var formData = {
        company_id: this.currentUser.companyId,
      };

      this.$store
        .dispatch("getInOutStockNumber", formData)
        .then((response) => {
          this.form.number = response.data;
        })
        .catch((err) => {
          this.$buefy.toast.open({
            message: err,
            type: "is-danger",
          });
        });
    },
    fetchInOutStockById() {
      this.isLoading = true;
      var formData = {
        id: this.id,
      };

      this.$store
        .dispatch("getInOutStockById", formData)
        .then((response) => {
          this.form.id = response.data.id;
          this.form.number = response.data.number;
          this.form.type = response.data.type;
          this.form.notes = response.data.notes;


          response.data.ingredients.forEach((element) => {
            this.formIngredient = {
              id: element.id,
              name: element.name,
              quantity: element.pivot.quantity,
            };
            this.ingredients.push(this.formIngredient);
          });
          this.clearForm();
          this.isLoading = false;
        })
        .catch((err) => {
          this.$buefy.toast.open({
            message: err,
            type: "is-danger",
          });
          this.isLoading = false;
        });
    },
    // Show Pop Up Save
    savePopup() {
      this.$buefy.dialog.confirm({
        title: this.isEdit ? "Save Edit InOutStock" : "Save New InOutStock",
        message: `Are you sure want to save this inOutStock?`,
        cancelText: "No",
        confirmText: "Yes",
        type: "is-primary",
        onConfirm: () => this.saveInOutStock(),
      });
    },
    // For save InOutStock to database
    saveInOutStock() {
      let formData = {
        id: this.isEdit ? this.id : "",
        type: this.form.type,
        number: this.form.number,
        notes: this.form.notes,
        company_id: this.currentUser.companyId,
        ingredients: this.ingredients,
      };

      let functionName = this.isEdit ? "saveEditInOutStock" : "saveInOutStock";

      this.$store
        .dispatch(functionName, formData)
        .then((response) => {
          if (this.form.image != null) {
            this.uploadImage(response);
          } else {
            this.$buefy.toast.open({
              message: this.isEdit
                ? "Success Edit InOutStock!"
                : "Success Save New InOutStock!",
              type: "is-success",
            });
            this.$emit("fetch");
            this.$emit("close");
          }
        })
        .catch((err) => {
          this.$buefy.toast.open({
            message: err,
            type: "is-danger",
          });
          this.$emit("close");
        });
    },

    selectIngredient(ingredient) {
      this.formIngredient.id = ingredient.id;
      this.formIngredient.name = ingredient.name;
      this.name = ingredient.name;
    },
    addItem() {
      if (this.formIngredient.quantity == null) {
        this.$buefy.dialog.alert({
          title: "Quantity still Empty",
          message: `Please fill the quantity before add item!`,
          confirmText: "Close",
          type: "is-primary",
        });
      } else {
        this.ingredients.push(this.formIngredient);
        this.formIngredient = {
          id: "",
          name: "",
          quantity: null,
        };
        this.name = "";
      }
    },
    deleteItem(index) {
      this.ingredients.splice(index, 1);
    },
    clearForm() {
      this.formIngredient = {
        id: "",
        name: "",
        quantity: null,
      };
    },
  },
  computed: {
    ...mapGetters(["currentUser"]),
    filteredDataObjIngredient() {
      return this.dataIngredient.filter((option) => {
        return (
          option.name
            .toString()
            .toLowerCase()
            .indexOf(this.name.toLowerCase()) >= 0 &&
          this.ingredients.filter((data) => {
            return data.name.indexOf(option.name) >= 0;
          }).length == 0
        );
      });
    },
  },
};
</script>

<style scoped>
.modal-card-title {
  color: white;
  font-size: 26px;
  font-weight: 600;
}

.imgstyle {
  object-fit: cover;
}
</style>
