
<template>
  <div class="index-inOutStock">
    <div class="card">
      <header class="card-header has-background-primary">
        <p class="card-header-title">In Out Stock</p>
      </header>
      <div class="card-content">
        <div class="container-content">
          <div class="header-content level">
            <div class="level-left">
              <div class="level-item">
                <b-input v-model="search" placeholder="Search" icon="search"></b-input>
              </div>
            </div>
            <div class="level-right">
              <div class="level-item">
                <b-button class="btn is-primary" @click="openAddModal()">
                  Add InOutStock
                </b-button>
              </div>
            </div>
          </div>

          <!-- Table of Content InOutStock -->
          <div class="main-content">
            <b-table
              :data="dataInOutStock && dataInOutStock.data ? dataInOutStock.data : []"
              :hoverable="true"
              :loading="isLoading"
              :total="dataInOutStock && dataInOutStock.total ? dataInOutStock.total : 0"
              :current-page.sync="currentPage"
              paginated
              backend-pagination
              :per-page="perPage"
              @page-change="onPageChange"
              default-sort="id"
              sort-icon="arrow-up"
              aria-next-label="Next page"
              aria-previous-label="Previous page"
              aria-page-label="Page"
              aria-current-label="Current page"
            >
              <b-table-column
                field="index"
                label="No"
                width="40"
                numeric
                v-slot="props"
              >
                {{ props.index + 1 }}
              </b-table-column>

              <b-table-column field="number" label="Number" width="250" sortable v-slot="props">
                {{ props.row.number }}
              </b-table-column>

              <b-table-column field="type" label="Type" width="200" v-slot="props">
                {{ props.row.type}}
              </b-table-column>

              <b-table-column field="notes" label="notes" width="300" v-slot="props">
                  {{props.row.notes ? props.row.notes : '-'}}
              </b-table-column>

              <b-table-column field="createdAt" label="Created Date" width="200" sortable v-slot="props">
                {{ convertDateToStringForOutput(props.row.createdAt) }}
              </b-table-column>

              <b-table-column field="action" label="Action" width="250" sortable v-slot="props">
                <b-button type="is-primary" icon-right="eye" @click="detailInOutStock(props.row.id)" />
                <b-button type="is-warning" icon-right="pencil-alt" @click="editInOutStock(props.row.id)" />
                <b-button type="is-danger" icon-right="trash" @click="deletePopUp(props.row.id)" />
              </b-table-column>

              <!-- If Data Null -->
              <template slot="empty">
                <section class="section">
                  <div class="has-text-grey has-text-centered">
                    <p>Data is Empty!</p>
                  </div>
                </section>
              </template>
            </b-table>
          </div>
        </div>
      </div>
    </div>

    <!-- B-Modal for InOutStock Form -->
    <b-modal v-model="isFormInOutStockModalActive" has-modal-card :can-cancel="false">
      <template #default="props">
        <FormInOutStock :isEdit="isEdit" :id="id" @fetch="fetchData" @close="props.close"/>
      </template>
    </b-modal>

    <!-- B-Modal for Detail InOutStock Form -->
    <b-modal v-model="isDetailInOutStockModalActive" has-modal-card :can-cancel="false">
      <template #default="props">
        <DetailInOutStock :id="id" @close="props.close"/>
      </template>
    </b-modal>
  </div>
</template>

<script>
import FormInOutStock from './FormInOutStock';
import DetailInOutStock from './DetailInOutStock';
import { mapGetters } from 'vuex';

export default {
  name: 'InOutStock',
  components: {
    FormInOutStock,
    DetailInOutStock
  },
  data() {
    return {
      id: '',
      dataInOutStock: [],
      search: '',

      // For table
      currentPage: 1,
      perPage: 10,
      isLoading: false,

      // For B-Modal
      isFormInOutStockModalActive: false,
      isDetailInOutStockModalActive: false,

      // For Edit
      isEdit: false
    }
  },
  mounted() {
    this.fetchData();
  },
  methods: {
    fetchData() {
      this.isLoading = true;
      let formData = {
        perPage: this.perPage,
        page: this.currentPage,
        search: this.search,
        type: 'paginate',
        company_id: this.currentUser.companyId
      };

      this.$store.dispatch('fetchIndexInOutStock', formData)
        .then((response) => {
          this.isLoading = false;
          this.dataInOutStock = response.data;
        })
        .catch((err) => {
          this.$buefy.toast.open({
            message: err,
            type: 'is-danger'
          });
          this.isLoading = false;
        });
    },
    // For get another data while change pagination
    onPageChange(page) {
      this.currentPage = page;
      this.fetchData();
    },
    // For Add InOutStock
    openAddModal() {
      this.isFormInOutStockModalActive = true;
      this.isEdit = false;
    },
    // For Edit InOutStock
    editInOutStock(inOutStockId) {
      this.id = inOutStockId;
      this.isFormInOutStockModalActive = true;
      this.isEdit = true;
    },
    detailInOutStock(inOutStockId) {
      this.id = inOutStockId;
      this.isDetailInOutStockModalActive = true;
    },
    // Pop Up For Delete InOutStock
    deletePopUp(inOutStockId) {
      this.$buefy.dialog.confirm({
        title: 'Delete InOutStock',
        message: 'Are you sure you want to <b>delete</b> this inOutStock? This action cannot be undone',
        cancelText: "No",
        confirmText: 'Yes',
        type: 'is-danger',
        hasIcon: true,
        onConfirm: () => this.deleteInOutStock(inOutStockId)
      });
    },
    // For Delete InOutStock
    deleteInOutStock(inOutStockId) {
      var formData = {
        id: inOutStockId
      };

      this.$store.dispatch('deleteInOutStock', formData)
        .then(() => {
          this.$buefy.toast.open({
            message: "Success Delete InOutStock!",
            type: 'is-success'
          });
          this.fetchData();
        })
        .catch((err) => {
          this.$buefy.toast.open({
            message: err,
            type: 'is-danger'
          });
        });
    },
    // For Convert Date Object into Date String for Output
    convertDateToStringForOutput(date) {
      var newDate = new Date(date);
      var convertedDate = newDate.getDate() + '/' + (newDate.getMonth() + 1) + "/" + newDate.getFullYear();

      return convertedDate;
    },
    // For Clear form
    clearForm() {
      this.form.id = '';
      this.form.name = '';
    }
  },
  watch: {
    search: function (val) {
      this.search = val;
      this.fetchData();
    },
    perPage: function (val) {
      this.perPage = val;
      this.fetchData();
    }
  },
  computed: {
    ...mapGetters(['currentUser'])
  }
}
</script>

<style scoped>
.column {
  padding-bottom: 0;
}

.index-inOutStock {
  padding: 60px;
}

.card-header-title {
  color: white;
  font-size: 30px;
  font-weight: 600;
  height: 90px;
}

.container-form {
  justify-content: space-between;
}
</style>
