<template>
  <div class="detail-payment">
    <div class="card">
      <header
        class="card-header has-background-primary"
        style="align-items: center"
      >
        <p class="card-header-title">
          Payment : {{ dataTransaction.number }}
          <b-tag
            class="ml-3 is-size-5"
            :type="
              dataTransaction.status == 'complete' ? 'is-success' : dataTransaction.status == 'canceled' ? 'is-danger' : 'is-warning'
            "
          >
            {{ convertStatus(dataTransaction.status) }}
          </b-tag>
        </p>
      </header>
      <div class="card-content">
        <div class="container-content">
          <div class="main-content columns is-multiline">
            <div class="column is-6">
              <b-field label="Customer" class="mb-3">
                <b-input v-model="customer" disabled />
              </b-field>

              <b-field label="Payment Method" class="mb-3">
                <b-select v-model="payment_method" disabled expanded>
                  <option value="Debit">Debit</option>
                  <option value="Cash">Cash</option>
                </b-select>
              </b-field>
            </div>

            <div class="column is-6">
              <div class="card">
                <header
                  class="card-header has-background-primary is-flex"
                  style="align-items: center"
                >
                  <p class="card-header-title" style="height: 50px">
                    Total Payment
                  </p>
                </header>
                <div class="card-content">
                  <div class="container-content">
                    <div class="main-content columns is-multiline pb-3">
                      <div class="column is-5">
                        <p class="order-details is-size-4">
                          <strong>Point</strong>
                        </p>
                      </div>

                      <div class="column is-5">
                        <p class="order-details is-size-4">
                          <strong>{{ parseInt(dataTransaction ? dataTransaction.point : 0).toLocaleString('id-ID') }}</strong>
                        </p>
                      </div>

                      <div class="column is-5">
                        <p class="order-details is-size-4">
                          <strong>Total</strong>
                        </p>
                      </div>

                      <div class="column is-5">
                        <p class="order-details is-size-4">
                          <strong>
                            Rp.
                            {{
                              parseInt(dataTransaction.total).toLocaleString(
                                "id-ID"
                              )
                            }}
                          </strong>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="column is-12 pb-3">
              <div class="card">
                <header
                  class="card-header has-background-primary is-flex"
                  style="align-items: center"
                >
                  <p class="card-header-title" style="height: 50px">
                    Order Details
                  </p>
                </header>
                <div class="card-content">
                  <div class="container-content">
                    <div class="main-content pb-3">
                      <b-table
                        :data="
                          dataTransaction && dataTransaction.transactionProducts
                            ? dataTransaction.transactionProducts
                            : []
                        "
                      >
                        <b-table-column
                          field="index"
                          label="No"
                          width="40"
                          numeric
                          v-slot="props"
                        >
                          {{ props.index + 1 }}
                        </b-table-column>

                        <b-table-column
                          field="product.image"
                          label="Product Image"
                          width="350"
                          sortable
                          v-slot="props"
                        >
                          <b-image
                            v-if="!props.row.product.image.includes('/images')"
                            :src="'/storage' + props.row.product.image"
                            class="imgstyle"
                            alt="A Product image"
                            ratio="4by2"
                          ></b-image>
                          <b-image
                            v-else
                            :src="props.row.product.image"
                            class="imgstyle"
                            alt="A Product image"
                            ratio="4by2"
                          ></b-image>
                        </b-table-column>

                        <b-table-column
                          field="product.number"
                          label="Number"
                          width="350"
                          sortable
                          v-slot="props"
                        >
                          {{ props.row.product.number }}
                        </b-table-column>

                        <b-table-column
                          field="product.name"
                          label="Product Name"
                          width="350"
                          sortable
                          v-slot="props"
                        >
                          {{ props.row.product.name }}
                        </b-table-column>

                        <b-table-column
                          field="product.sellPrice"
                          label="Product Sell Price"
                          sortable
                          v-slot="props"
                        >
                          Rp.
                          {{
                            parseInt(
                              props.row.product.sellPrice
                            ).toLocaleString("id-ID")
                          }}
                        </b-table-column>

                        <b-table-column
                          field="quantity"
                          label="Quantity"
                          sortable
                          v-slot="props"
                        >
                          {{ props.row.quantity }}
                        </b-table-column>

                        <b-table-column label="Total" sortable v-slot="props">
                          Rp.
                          {{
                            parseInt(
                              props.row.quantity * props.row.product.sellPrice
                            ).toLocaleString("id-ID")
                          }}
                        </b-table-column>
                      </b-table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <b-loading v-model="isLoading" is-full-page></b-loading>
  </div>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  name: "DetailPayment",
  data() {
    return {
      dataTransaction: {},
      dataCustomer: [],
      customer: "",
      payment_method: null,
      isLoading: false,
    };
  },
  created() {
    this.fetchDataTransactionByNumber();
  },
  methods: {
    fetchDataTransactionByNumber() {
      this.isLoading = true;
      let formData = {
        number: this.$route.params.transactionNumber,
        company_id: this.currentUser.companyId,
      };

      this.$store
        .dispatch("fetchDataTransactionByNumber", formData)
        .then((response) => {
          this.isLoading = false;
          this.dataTransaction = response.data;
          this.customer = this.dataTransaction.customer
            ? this.dataTransaction.customer.name
            : "Guest";
          this.payment_method = this.dataTransaction.paymentMethod;
        })
        .catch((err) => {
          this.$buefy.toast.open({
            message: err,
            type: "is-danger",
          });
          this.isLoading = false;
        });
    },
    convertStatus(status) {
      if (status == "on-going" || status == "payment") {
        return "Waiting Payment";
      } else if (status == 'complete') {
        return "Complete";
      } else if (status == 'canceled') {
        return "Canceled";
      }
    },
  },
  computed: {
    ...mapGetters(["currentUser"]),
  },
};
</script>

<style scoped>
.column {
  padding-bottom: 0;
}

.detail-payment {
  padding: 60px;
}

.card-header-title {
  color: white;
  font-size: 30px;
  font-weight: 600;
  height: 90px;
}

.container-form {
  justify-content: space-between;
}
</style>
