<template>
  <div class="index-payment">
    <ValidationObserver v-slot="{ handleSubmit }" class="main-modal">
      <div class="card">
        <header class="card-header has-background-primary" style="align-items: center">
          <p class="card-header-title">
            Payment : {{ dataTransaction.number }}
            <b-tag 
              class="ml-3 is-size-5" 
              :type="dataTransaction.status == 'complete' ? 'is-success' : 'is-warning'"
            >
              {{ convertStatus(dataTransaction.status) }}
            </b-tag>
          </p>
          <b-button class="btn is-secondary mr-5" @click="handleSubmit(savePopup)">
            Confirm Payment
          </b-button>
        </header>
        <div class="card-content">
          <div class="container-content">
            <div class="main-content columns is-multiline">
              <div class="column is-6">
                <b-field label="Customer" class="mb-3">
                  <b-autocomplete
                    v-model="customer"
                    placeholder="Type for search Customer"
                    open-on-focus
                    :data="filteredDataObjCustomer"
                    field="name"
                    @select="(option) => (selectedCustomer = option)"
                  >
                  </b-autocomplete>
                </b-field>

                <ValidationProvider
                  name="Payment Method"
                  rules="required"
                  v-slot="{ errors }"
                >
                  <b-field
                    :type="{ 'is-danger': errors[0] }"
                    :message="errors"
                    class="mb-3"
                  >
                    <template slot="label">
                      Payment Method
                      <span class="text-dangered">*</span>
                    </template>
                    <b-select v-model="payment_method" placeholder="Select payment method" expanded>
                      <option value="Debit">Debit</option>
                      <option value="Cash">Cash</option>
                    </b-select>
                  </b-field>
                </ValidationProvider>

                <b-switch class="mt-2" v-model="use_point">Use Point</b-switch>
              </div>

              <div class="column is-6">
                <div class="card">
                  <header
                    class="card-header has-background-primary is-flex"
                    style="align-items: center"
                  >
                    <p class="card-header-title" style="height: 50px">Total Payment</p>
                  </header>
                  <div class="card-content">
                    <div class="container-content">
                      <div class="main-content columns is-multiline pb-3">
                        <div class="column is-5">
                          <p class="order-details is-size-4"><strong>Point</strong></p>
                        </div>

                        <div class="column is-5">
                          <p class="order-details is-size-4">
                            <strong>
                              {{ use_point ? selectedCustomer ? parseInt(selectedCustomer.point).toLocaleString('id-ID') : 0 : 0 }}
                            </strong>
                          </p>
                        </div>

                        <div class="column is-5">
                          <p class="order-details is-size-4"><strong>Total</strong></p>
                        </div>

                        <div class="column is-5">
                          <p class="order-details is-size-4">
                            <strong>
                              Rp. {{ parseInt(dataTransaction.total).toLocaleString('id-ID') }}
                            </strong>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="column is-12 pb-3">
                <div class="card">
                  <header
                    class="card-header has-background-primary is-flex"
                    style="align-items: center"
                  >
                    <p class="card-header-title" style="height: 50px">Order Details</p>
                  </header>
                  <div class="card-content">
                    <div class="container-content">
                      <div class="main-content pb-3">
                        <b-table 
                          :data="dataTransaction && dataTransaction.transactionProducts ? dataTransaction.transactionProducts : []"
                        >
                          <b-table-column
                            field="index"
                            label="No"
                            width="40"
                            numeric
                            v-slot="props"
                          >
                            {{ props.index + 1 }}
                          </b-table-column>

                          <b-table-column
                            field="product.image"
                            label="Product Image"
                            width="350"
                            sortable
                            v-slot="props"
                          >
                            <b-image
                              v-if="!props.row.product.image.includes('/images')"
                              :src="'/storage'+props.row.product.image"
                              class="imgstyle"
                              alt="A Product image"
                              ratio="4by2"
                            ></b-image>
                            <b-image
                              v-else
                              :src="props.row.product.image"
                              class="imgstyle"
                              alt="A Product image"
                              ratio="4by2"
                            ></b-image>
                          </b-table-column>

                          <b-table-column
                            field="product.number"
                            label="Number"
                            width="350"
                            sortable
                            v-slot="props"
                          >
                            {{ props.row.product.number }}
                          </b-table-column>

                          <b-table-column
                            field="product.name"
                            label="Product Name"
                            width="350"
                            sortable
                            v-slot="props"
                          >
                            {{ props.row.product.name }}
                          </b-table-column>

                          <b-table-column
                            field="product.sellPrice"
                            label="Product Sell Price"
                            sortable
                            v-slot="props"
                          >
                            Rp. {{ parseInt(props.row.product.sellPrice).toLocaleString('id-ID') }}
                          </b-table-column>

                          <b-table-column
                            field="quantity"
                            label="Quantity"
                            sortable
                            v-slot="props"
                          >
                            {{ props.row.quantity }}
                          </b-table-column>

                          <b-table-column
                            label="Total"
                            sortable
                            v-slot="props"
                          >
                            Rp. {{ parseInt(props.row.quantity * props.row.product.sellPrice).toLocaleString('id-ID') }}
                          </b-table-column>
                        </b-table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ValidationObserver>

    <b-loading v-model="isLoading" is-full-page></b-loading>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
  name: 'Supplier',
  data() {
    return {
      dataTransaction: {},
      dataCustomer: [],
      customer: '',
      selectedCustomer: null,
      payment_method: null,
      use_point: false,
      isLoading: false,
    }
  },
  created() {
    this.fetchDataTransactionByNumber();
    this.fetchDataCustomer();
  },
  methods: {
    fetchDataCustomer() {
      this.isLoading = true;
      let formData = {
        type: "autocomplete",
        company_id: this.currentUser.companyId,
      };

      this.$store
        .dispatch("fetchIndexCustomer", formData)
        .then((response) => {
          this.isLoading = false;
          this.dataCustomer = response.data;
        })
        .catch((err) => {
          this.$buefy.toast.open({
            message: err,
            type: "is-danger",
          });
          this.isLoading = false;
        });
    },
    fetchDataTransactionByNumber() {
      this.isLoading = true;
      let formData = {
        number: this.$route.params.transactionNumber,
        company_id: this.currentUser.companyId
      };

      this.$store.dispatch('fetchDataTransactionByNumber', formData)
        .then((response) => {
          this.isLoading = false;
          this.dataTransaction = response.data;
        })
        .catch((err) => {
          this.$buefy.toast.open({
            message: err,
            type: 'is-danger'
          });
          this.isLoading = false;
        });
    },
    // Pop Up For Save Payment
    savePopup() {
      this.$buefy.dialog.confirm({
          title: "Confirm Payment",
          message: `Are you sure want to confirm this payment?`,
          cancelText: "No",
          confirmText: "Yes",
          type: "is-primary",
          onConfirm: () => this.saveTransaction(),
        });
    },
    // For Save Transaction
    saveTransaction() {
      var formData = {
        id: this.dataTransaction.id,
        payment_method: this.payment_method,
        customer_id: this.selectedCustomer ? this.selectedCustomer.id : null,
        total: this.dataTransaction.total,
        status: 'complete',
        point: this.use_point ? this.selectedCustomer.point : 0
      };

      this.$store.dispatch('confirmTransaction', formData)
        .then(() => {
          this.$buefy.toast.open({
            message: "Success Payment!",
            type: 'is-success'
          });
          this.$router.push('/transaction');
        })
        .catch((err) => {
          this.$buefy.toast.open({
            message: err,
            type: 'is-danger'
          });
        });
    },
    // For Convert Date Object into Date String for Output
    convertDateToStringForOutput(date) {
      var newDate = new Date(date);
      var convertedDate = newDate.getDate() + '/' + (newDate.getMonth() + 1) + "/" + newDate.getFullYear();
      
      return convertedDate;
    },
    convertStatus(status) {
      if (status == 'on-going' || status == 'payment') {
        return 'Waiting Payment';
      } else {
        return 'Complete';
      }
    }
  },
  computed: {
    ...mapGetters(['currentUser']),
    filteredDataObjCustomer() {
      return this.dataCustomer.filter((option) => {
        return (
          option.name
            .toString()
            .toLowerCase()
            .indexOf(this.customer.toLowerCase()) >= 0
        );
      });
    },
  },
  watch: {
    use_point: function (val) {
      if (val) {
        this.dataTransaction.total -= this.selectedCustomer ? this.selectedCustomer.point : 0;
      } else {
        this.dataTransaction.total += this.selectedCustomer ? this.selectedCustomer.point : 0;
      }
    }
  }
}
</script>

<style scoped>
.column {
  padding-bottom: 0;
}

.index-payment {
  padding: 60px;
}

.card-header-title {
  color: white;
  font-size: 30px;
  font-weight: 600;
  height: 90px;
}

.container-form {
  justify-content: space-between;
}
</style>
